<!DOCTYPE html>
<html lang="en" class="no-js" data-theme="city">
  {% set cssFilename = global.cssFile() %}
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% include "partials/meta.njk" %}
    <title>
      {% if not isHome %}
        {{ title }} -
      {% endif %}
      localghost</title>
    <script src="/js/main.js"></script>
    {% if extraCSS %}
      {% for file in extraCSS %}
        <link rel="stylesheet" type="text/css" href="/css/{{ file }}">
      {% endfor %}
    {% endif %}
    <link rel="preload" as="style" href={{ cssFilename }}>
    <link rel="stylesheet" type="text/css" href={{ cssFilename }}>
<script data-goatcounter="https://localghost.goatcounter.com/count"
        async defer src="//gc.zgo.at/count.js"></script>
  </head>
  <body>
    {% include "partials/svg/defs.html" %}
    <div class="page-wrapper">
      {% include "partials/header.njk" %}
      <main class="wrapper">
        {% include "partials/nav.njk" %}
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </main>
      {% include "partials/footer.njk" %}
    </div>
  </body>
</html>