---
eleventyImport:
  collections: ["blog"]
---

{% extends "base.njk" %}
{% block content %}
  {% set postListItems = pagination.items %}
  {% if tag %}
    {% set postListItems = collections[tag] | reverse %}
  {% endif %}
  <div class="list-wrapper">
  <div class="list-heading">
    <h1>{{ title }}</h1>
    {% if not tag %}
    <a href="/tags">Browse by tag</a>
    {% endif %}
  </div>
  <div
    class="content-inner flow" {% if subtitle %} data-with-subtitle {% endif %}>
    <ol role="list" class="posts-list flow">
      {% for item in postListItems %}
        {% set excerpt %}
        {% if item.data.excerptText %}
          {{ item.data.excerptText | markdown | trim | safe }}
        {% elseif item.data.page.excerpt %}
          {{ item.data.page.excerpt | markdown | trim | safe }}
        {% endif %}
        {% endset %}
        <li>
          <article class="content summary" data-type="{{item.data.type}}">
            <h2 class="page-heading">
              <a href="{{ item.url }}">{{ item.data.title }}</a>
              {% if item.data.subtitle %}
                <p class="post-subtitle">{{ item.data.subtitle }}</p>
              {% endif %}
            </h2>
            <div class="content-inner flow">
              {{ excerpt | safe }}
              <p>
                <time class="post-date" datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
                &ndash;
                <a class="read-more-link" href="{{ item.url }}">Continue reading
                  <span aria-hidden="true">→</span>
                </a>
              </p>
            </div>
          </article>
        </li>
      {% endfor %}
    </ol>
   
    {% if not tag %}
      {% include "partials/blog/pagination.njk" %}
    {% endif %}
  </div>
  </div>
{% endblock %}