{% extends "base.njk" %}
{% block content %}
  <div id="homepage-content" class="content">
    <h1 id="homepage-heading" class="page-heading">Hi, I'm Sophie.</h1>
    <div id="content-start"></div>
    <div class="content-inner flow">
      {{ content | safe }}
      <h2>
        Recent posts
      </h2>
      <ol role="list" class="recent-posts">
        {% set postListItems = collections.blog | head (3) %}
        {% for item in postListItems %}
          <li>
            <article class="summary">
              <a href="{{ item.url }}">{{ item.data.title }}</a>
            </article>
          </li>
        {% endfor %}
      </ol>
    </div>
    <div id="content-end"></div>
    <div class="buttons">
      {% include "partials/neocities-badge.njk" %}
    </div>
  </div>
{% endblock %}