<!DOCTYPE html>
<html>
  <head>
    <title>{{redirect.to}}</title><link rel="canonical" href="{{ redirect.to }}"/><meta name="robots" content="noindex"><meta charset="utf-8"/><meta http-equiv="refresh" content="0; url={{redirect.to}}"/>
  </head>
</html>