* {
  box-sizing: border-box;
}

.no-js .darkmode-toggle {
  display: none !important;
}

svg.defs {
  display: none;
}
body {
  font-family: var(--family-sans-serif);
  font-size: 1rem;
  font-size: unquote('min(max(1rem, 4vw), 18px)');
  font-display: swap;
  margin: 0;
  min-height: 100vh;
  background: var(--background-color);
  color: var(--body-color);
}

a {
  color: var(--link-color);
  &:active,
  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--family-monospace);
}

h1 {
  color: var(--h1-color);
  font-size: 2.5rem;
  font-size: unquote('min(max(2.5rem, 4vw), 40px)');
}

h2 {
  margin: 0;
  font-size: 2rem;
  font-size: unquote('min(max(2rem, 4vw), 30px)');

  color: var(--h2-color);
  font-weight: 800;
  line-height: 1.2em;
  a {
    font-weight: 800;
    text-decoration: none;
  }
}

h3 {
  color: var(--h3-color);
  font-size: 1.5rem;
  font-size: unquote('min(max(1.5rem, 4vw), 25px)');
  font-weight: 800;
}

h4 {
  color: var(--h4-color);
}
ul {
  padding: 0;
}

img {
  border-radius: 5px;
  border: 1px solid var(--grey-mid);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.link-to-top {
  text-align: center;
  margin: 1rem 0;
  .top-icon {
    color: var(--accent-color);
    margin-bottom: 2rem;
    vertical-align: baseline;

    &:hover {
      color: var(--accent-hover-color);
    }
    svg {
      margin: 0 5px;
      height: 20px;
      width: 20px;
    }
  }
}

.separator {
  background-image: var(--separator);
  background-repeat: repeat-x;
  width: 33%;
  margin: 0 auto;
  height: 8px;
  margin-bottom: 2.5rem;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus {
    margin-left: 2rem;
    clip: auto;
    width: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    background: var(--aqua-90);
    padding: 0.5rem;
    color: #000000;
  }
}

@mixin content-box {
  background: var(--content-box-color);

  padding: 1rem;
  border-radius: 15px;
}
