* {
  box-sizing: border-box;
}

:root {
  @include mq($from: desktop) {
    font-size: 17px;
  }
}

*:focus {
  outline: none;
  border-bottom: 4px solid var(--accent-color);
}
/* suppress focus ring on focusable things for mouse users */
[data-whatinput='mouse'] *:focus,
[data-whatinput='touch'] *:focus {
  border-bottom: 0;
  outline: none;
}

.no-js .darkmode-toggle {
  display: none !important;
}

svg.defs {
  display: none;
}
body {
  font-family: 'Inter var', sans-serif;
  font-size: 1rem;
  font-display: swap;
  margin: 0;
  min-height: 100vh;
  background: var(--background-color);
  color: var(--body-color);
  font-variation-settings: var(--body-font-weight);
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-variation-settings: 'wght' 600;
  &:active,
  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--link-hover-color);
  }
}

h1,
h2,
h3,
h4 {
  &,
  & a {
    font-variation-settings: 'wght' 700;
  }
  line-height: 1.2;
}

h1 {
  color: var(--h1-color);
  font-size: 2rem;
  font-size: unquote('min(max(1.5rem, 4vw), 30px)');
}

h2 {
  margin: 0;
  font-size: 2rem;
  font-size: unquote('min(max(1.25rem, 4vw), 25px)');

  color: var(--h2-color);

  line-height: 1.2em;
  a {
    text-decoration: none;
  }
}

h3 {
  color: var(--h3-color);
  font-size: 1.5rem;
  font-size: unquote('min(max(1.1rem, 4vw), 20px)');
  margin-top: 1.5rem;
}

h4 {
  color: var(--h4-color);
}
ul {
  padding: 0;
}

img {
  border-radius: 5px;
  border: 1px solid var(--grey-mid);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.link-to-top {
  text-align: center;
  margin: 1rem 0;
  .top-icon {
    color: var(--accent-color);
    margin-bottom: 2rem;
    vertical-align: baseline;

    &:hover {
      color: var(--accent-hover-color);
    }
    svg {
      margin: 0 5px;
      height: 20px;
      width: 20px;
    }
  }
}

.separator {
  background-image: url('/icons/heart-bullet.svg');
  background-repeat: space;
  background-position: center;
  width: 4rem;
  margin: 0 auto;
  height: 0.9rem;
  margin-bottom: 2.5rem;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus {
    margin-left: 2rem;
    clip: auto;
    width: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    background: var(--aqua-90);
    padding: 0.5rem;
    color: #000000;
  }
}

@mixin content-box {
  background: var(--content-box-color);

  padding: 2rem 1rem 2.5rem 1rem;
  @include mq($from: tablet) {
    padding: 2.5rem 2rem 3rem 2rem;
    box-shadow: 10px 10px 0 3px rgba(0, 0, 0, 0.2);
  }
}
