html, body {
  background-color: $background;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.05em;
}

a {
  color: $mid-purple;
  text-decoration: underline;

  &:hover {
    color: $link-hover;
    font-style: none;
  }

  &:active {
    color: $mid-purple;
  }
}

@mixin heading {
  font-family: "Alef", sans-serif;
  color: $mid-pink;
  font-weight: 400;
  line-height: 1.2em;
}

h1, h2 {
  @include heading;
}

h2 {
  a {
    font-weight: 600;
    text-decoration: none;
  }
}

ul {
  padding: 0;
}

img {
  border-radius: 5px;
  border: 1px solid $secondary;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
