.heavy {
  font-weight: 700;
}

.post {
  &-title {
    margin-bottom: 0.5em;
  }

  &-subtitle {
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 1rem;
  }

  &-data {
    font-size: 1rem;
    line-height: 2rem;
  }

  &-date {
    a {
      text-decoration: none;
      color: $body-color;
    }
  }
}