.posts-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;

  .summary {
    @include content-box;
    margin-bottom: 2.5rem;
  }
  li:last-of-type {
    .summary {
      margin-bottom: 1.5rem;
    }
    .separator {
      display: none;
    }
  }
}

.all-posts-list {
  padding: 0;
  list-style-type: none;
}

h1.post-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.post {
  &-body {
    @include content-box;
    padding: 1.5rem;

    h2 {
      margin: inherit;
      margin-top: 2rem;
    }
  }
  &-item {
    display: block;
    margin-left: 0;
    line-height: 1.75rem;
    margin-bottom: 0.75rem;
    font-size: 1.15rem;
  }

  &-subtitle-group {
    padding-top: 0.5rem;
    span {
      display: block;
    }
  }

  &-date {
    color: var(--date-color);
    font-size: 0.9rem;
    font-variant: italic;
    display: inline-block;
    margin: 0.5em 0;
  }

  &-metadata {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }

  &-title {
    a {
      color: var(--h3-color);
      text-decoration: none;
    }
    margin-bottom: 0;
  }

  &-subtitle {
    font-variation-settings: 'wght' 600;
    color: var(--post-subtitle-color);
    font-size: 1.35rem;
  }

  &-data {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.tags-list {
  font-size: 1.5rem;
  list-style-type: none;
  li {
    margin-bottom: 0.75rem;
    &:before {
      @include heart-bullet;
    }
  }
}

.blog-share {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  .share-text {
    font-weight: 600;
  }
  .share-options {
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-left: 1rem;

    li {
      padding-right: 1rem;
      svg {
        width: 1.2rem;
      }
      a {
        &.twitter {
          color: #1da1f2;
        }
        &.facebook {
          color: #3b5998;
        }
        &.linkedin {
          color: #0077b5;
        }
        &:hover {
          color: var(--link-hover-color);
        }
      }
    }
  }
}

.tag-cloud {
  font-size: 1.5rem;
  margin-right: 1.5rem;

  @media screen and (min-width: 567px) {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}
.tags-container {
  display: flex;
  font-size: 0.9rem;

  flex-wrap: wrap;
  align-items: baseline;
  margin: 0.5em 0;
  @media screen and (min-width: 567px) {
    margin-left: 1rem;
  }

  .text {
    color: var(--date-color);
    text-transform: uppercase;
  }
}
.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  flex-direction: row;

  li {
    padding-right: 0.5rem;
    &:not(:first-of-type):before {
      @include icon-bullet('star');
      vertical-align: unset;
    }

    &:first-of-type {
      margin-left: 0.5rem;
    }
  }
}

.heart-separator {
  width: 100%;
  text-align: center;
  img {
    border: 0;
    box-shadow: none;
    width: 16px;
  }
}
