@mixin icon-bullet($icon-url: "/icons/heart-bullet.svg") {
  vertical-align: middle;
  content: '';
  display: inline-block;
  height: 0.7em;
  width: 0.7em;
  background-image: url($icon-url);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
}
