@mixin icon-bullet($icon) {
  content: '';
  display: inline-block;
  height: 0.7em;
  width: 0.7em;
  background-image: url('/icons/#{$icon}.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
}

@mixin heart-bullet() {
  @include icon-bullet('heart-bullet');
}
