@font-face {
  font-family: 'DM Serif Display';
  src: url('/fonts/DMSerifDisplay-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Burtons Script';
  src: url('/fonts/Burtons-Script.woff') format('woff2');
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli.woff2') format('woff2');
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli-italic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Diary of an 8-bit Mage';
  src: url('/fonts/8-bit-mage.woff') format('woff2');
}
