@font-face {
  font-family: 'Neon Tubes 2';
  src: url('/fonts/NeonTubes2.woff') format('woff2');
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli.woff2') format('woff2');
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli-italic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Diary of an 8-bit Mage';
  src: url('/fonts/8-bit-mage.woff') format('woff2');
}
