.footer {
  display: grid;
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;
  background: var(--footer-background);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
  height: 40vh;

  @include mq($from: tablet) {
    height: 30vh;
    grid-template-columns: repeat(8, 1fr);
  }
  @include mq($from: desktop) {
    height: 50vh;
  }
  .social-icons {
    margin: 0;
  }

  .footer-text,
  .rss-link {
    grid-row: 1 / span 1;
    justify-self: center;
    grid-column: 1 / span 4;
    @include mq($from: tablet) {
      grid-column: 1 / span 8;
    }
  }

  .rss-link {
    align-self: center;
    &:not(:focus) {
      border-bottom: 4px solid transparent;
    }
    color: var(--accent-color);
    svg {
      width: 1rem;
    }
    &:hover {
      color: var(--accent-hover-color);
    }
  }
  li {
    &:last-of-type {
      padding-right: 0;
    }
    font-size: 1rem;
    padding-right: 1rem;
  }
  .skyscraper {
    display: var(--skyscraper-display);
    line-height: 0;
    align-self: end;
    justify-self: center;
    grid-row: 2 / span 2;
  }

  .palmtree {
    display: var(--palmtree-display);
    line-height: 0;
    align-self: end;
    justify-self: center;
    grid-row: 2 / span 2;
  }

  #palmtree-1 {
    grid-column: 2 / span 2;
    justify-self: end;
    transform: scaleX(-1);
    @include mq($from: tablet) {
      grid-column: 4 / span 1;
    }
  }

  #palmtree-2 {
    grid-column: 3 / span 1;
    justify-self: start;
    display: none;
    @include mq($from: tablet) {
      display: var(--palmtree-display);
      grid-column: 2 / span 1;
      justify-self: center;
    }
  }

  #palmtree-3 {
    grid-column: 1 / span 2;
    justify-self: center;
    @include mq($from: tablet) {
      grid-column: 6 / span 2;
    }
  }
  #palmtree-4 {
    grid-column: 3 / span 2;
    justify-self: end;
    margin-bottom: -1.5rem;
    @include mq($from: tablet) {
      grid-column: 5 / span 2;
      justify-self: center;
    }
  }

  #skyscraper-1 {
    grid-column: 2 / span 1;
    @include mq($from: tablet) {
      grid-column: 4 / span 1;
    }
    .sky1-topfront {
      color: hsl(249, 100%, 81%);
    }
    .sky1-topside {
      color: hsl(249, 43%, 60%);
    }
    .sky1-front {
      color: hsl(249, 100%, 78%);
    }
    .sky1-side {
      color: hsl(249, 50%, 45%);
    }
    .sky1-frontstripe {
      color: hsl(249, 43%, 60%);
    }
    .sky1-sidestripe {
      color: hsl(248, 17%, 42%);
    }
  }
  #skyscraper-2 {
    grid-column: 3 / span 1;
    justify-self: start;
    @include mq($from: tablet) {
      grid-column: 5 / span 1;
      justify-self: center;
    }
  }

  #skyscraper-4 {
    grid-column: 3 / span 2;
    justify-self: center;
    margin-bottom: -1.5rem;
    @include mq($from: tablet) {
      grid-column: 5 / span 2;
      justify-self: end;
    }
    @include mq($from: desktop) {
      justify-self: center;
    }
  }
  #skyscraper-2,
  #skyscraper-4 {
    .sky2-front {
      color: hsl(190, 43%, 40%);
    }
    .sky2-side {
      color: hsl(256, 55%, 22%);
    }
    .sky2-frontshadow {
      color: hsl(222, 60%, 36%);
    }
    .sky2-frontstripe {
      color: hsl(190, 73%, 52%);
      // color: hsl(222, 72%, 63%);
    }
    .sky2-sidestripe {
      // color: hsl(222, 72%, 45%);
      color: hsl(256, 65%, 45%);
    }
    .sky2-top-side {
      color: hsl(256, 55%, 52%);
    }
    .sky2-top-front {
      color: hsl(222, 72%, 77%);
    }
  }
  #skyscraper-3 {
    margin-bottom: -2rem;
    grid-column: 1 / span 1;
    justify-self: end;
    @include mq($from: tablet) {
      grid-column: 6 / span 2;
    }
    .sky2-side {
      color: hsl(298, 95%, 15%);
    }
    .sky2-front {
      color: hsl(298, 64%, 42%);
    }
    .sky2-frontshadow {
      color: hsl(298, 73%, 30%);
    }
    .sky2-sidestripe {
      color: hsl(298, 72%, 25%);
    }
    .sky2-top-side {
      color: hsl(298, 44%, 26%);
    }
    .sky2-top-front {
      color: hsl(298, 62%, 56%);
    }

    .sky2-frontstripe {
      color: hsl(298, 60%, 53%);
    }
  }
}
