.header {
  padding: 0;
  @media screen and (min-width: $tablet) {
    margin-top: 2rem;
  }
  img {
    border: 0;
    box-shadow: none;
    max-width: 150px;
  }

  .header-text {
    font-size: 4rem;
    text-align: center;
    font-family: 'VT323', monospace;
    font-display: swap;
    color: $mid-purple;
    text-transform: lowercase;
    margin: 0;
    padding-top: 2rem;

    @media screen and (min-width: $tablet) {
      font-size: 7rem;
      text-align: center;
      padding-top: 2rem;
    }
  }

  .navbar {
    padding: 0;
  }
}

.glitch {
  color: $mid-purple;
  position: relative;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.glitch::before {
  left: 2px;
  text-shadow: -2px 0 $turquoise;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s linear forwards;
}
.glitch::after {
  left: -2px;
  text-shadow: -2px 0 $pastel-pink;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s linear forwards;
}

@keyframes glitch-anim {
  0% {
    clip: rect(116px, 9999px, 55px, 0);
  }
  4.166666666666666% {
    clip: rect(70px, 9999px, 100px, 0);
  }
  8.333333333333332% {
    clip: rect(54px, 9999px, 109px, 0);
  }
  12.5% {
    clip: rect(51px, 9999px, 67px, 0);
  }
  16.666666666666664% {
    clip: rect(15px, 9999px, 11px, 0);
  }
  20.833333333333336% {
    clip: rect(125px, 9999px, 22px, 0);
  }
  25% {
    clip: rect(129px, 9999px, 42px, 0);
  }
  29.166666666666668% {
    clip: rect(92px, 9999px, 11px, 0);
  }
  33.33333333333333% {
    clip: rect(113px, 9999px, 30px, 0);
  }
  37.5% {
    clip: rect(99px, 9999px, 103px, 0);
  }
  41.66666666666667% {
    clip: rect(46px, 9999px, 79px, 0);
  }
  45.83333333333333% {
    clip: rect(112px, 9999px, 85px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 89px, 0);
  }
  54.166666666666664% {
    clip: rect(145px, 9999px, 15px, 0);
  }
  58.333333333333336% {
    clip: rect(11px, 9999px, 84px, 0);
  }
  62.5% {
    clip: rect(0px, 9999px, 141px, 0);
  }
  66.66666666666666% {
    clip: rect(75px, 9999px, 76px, 0);
  }
  70.83333333333334% {
    clip: rect(47px, 9999px, 37px, 0);
  }
  75% {
    clip: rect(117px, 9999px, 73px, 0);
  }
  79.16666666666666% {
    clip: rect(40px, 9999px, 133px, 0);
  }
  83.33333333333334% {
    clip: rect(135px, 9999px, 114px, 0);
  }
  87.5% {
    clip: rect(88px, 9999px, 70px, 0);
  }
  91.66666666666666% {
    clip: rect(47px, 9999px, 75px, 0);
  }
  95.83333333333334% {
    clip: rect(28px, 9999px, 29px, 0);
  }
  100% {
    clip: rect(0px, 9999px, 0px, 0);
  }
}

@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(115px, 9999px, 147px, 0);
  }
  10% {
    clip: rect(90px, 9999px, 80px, 0);
  }
  13.333333333333334% {
    clip: rect(135px, 9999px, 46px, 0);
  }
  16.666666666666664% {
    clip: rect(94px, 9999px, 145px, 0);
  }
  20% {
    clip: rect(92px, 9999px, 25px, 0);
  }
  23.333333333333332% {
    clip: rect(105px, 9999px, 96px, 0);
  }
  26.666666666666668% {
    clip: rect(136px, 9999px, 37px, 0);
  }
  30% {
    clip: rect(19px, 9999px, 51px, 0);
  }
  33.33333333333333% {
    clip: rect(64px, 9999px, 69px, 0);
  }
  36.666666666666664% {
    clip: rect(99px, 9999px, 42px, 0);
  }
  40% {
    clip: rect(109px, 9999px, 109px, 0);
  }
  43.333333333333336% {
    clip: rect(23px, 9999px, 67px, 0);
  }
  46.666666666666664% {
    clip: rect(75px, 9999px, 31px, 0);
  }
  50% {
    clip: rect(43px, 9999px, 8px, 0);
  }
  53.333333333333336% {
    clip: rect(147px, 9999px, 56px, 0);
  }
  56.666666666666664% {
    clip: rect(96px, 9999px, 99px, 0);
  }
  60% {
    clip: rect(112px, 9999px, 97px, 0);
  }
  63.33333333333333% {
    clip: rect(108px, 9999px, 92px, 0);
  }
  66.66666666666666% {
    clip: rect(58px, 9999px, 95px, 0);
  }
  70% {
    clip: rect(149px, 9999px, 51px, 0);
  }
  73.33333333333333% {
    clip: rect(98px, 9999px, 140px, 0);
  }
  76.66666666666667% {
    clip: rect(30px, 9999px, 67px, 0);
  }
  80% {
    clip: rect(12px, 9999px, 149px, 0);
  }
  83.33333333333334% {
    clip: rect(122px, 9999px, 150px, 0);
  }
  86.66666666666667% {
    clip: rect(50px, 9999px, 138px, 0);
  }
  90% {
    clip: rect(78px, 9999px, 116px, 0);
  }
  93.33333333333333% {
    clip: rect(86px, 9999px, 50px, 0);
  }
  96.66666666666667% {
    clip: rect(33px, 9999px, 92px, 0);
  }
  100% {
    clip: rect(0px, 9999px, 0px, 0);
  }
}
