.first-section {
  @include mq($from: tablet) {
    margin-top: 3rem;
    padding: 0 2rem;
  }
}
.content-box {
  h2 {
    margin-bottom: 1rem;
  }
  @include content-box;
  margin-bottom: 2.5rem;
}

.big-text {
  font-weight: 700;
  color: var(--h1-color);
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
  font-family: var(--family-monospace);
}

.intro-photo {
  max-width: 30% !important;
  margin: 0 !important;
  float: right;
  shape-outside: circle(50%);
  box-shadow: none;
  border-radius: 50%;
}
