.first-section {
  @include mq($from: tablet) {
    margin-top: 2.5rem;
    padding: 0 2rem;
  }
}
.content-box {
  background: var(--content-box-color);
  border-radius: 15px;
  padding: 1.5rem;
  h2,
  h3 {
    margin-top: 0;
  }

  p {
    margin: 0;
  }
  @include mq($from: desktop) {
    h2 {
      margin-top: -3.3rem;
    }
    h3 {
      margin-top: -2.5rem;
    }
    padding: 1rem;
    width: 40vw;
  }
}
