.first-section {
  @include mq($from: tablet) {
    margin-top: 3rem;
    padding: 0 2rem;
  }
}
.content-box {
  background: var(--content-box-color);
  border-radius: 15px;
  padding: 1.5rem;
  h2,
  h3 {
    margin-top: 0;
  }

  p {
    margin: 0;
  }
  @include mq($from: desktop) {
    h2 {
      margin-top: -3.3rem;
    }
    h3 {
      margin-top: -2.5rem;
    }
    padding: 1rem;
    width: 40vw;
  }
}

.paint-wrapper {
  line-height: 0;
  border-radius: 6px;
  margin: 0.5rem;
  padding: 1rem;
  padding-top: 0.5rem;
  font-size: 1rem;
  position: relative;
  background: var(--content-box-color);

  img {
    width: 100%;
    @include mq($until: tablet) {
      display: none;
    }
  }
  @include mq($from: tablet) {
    padding: 0;
  }
  @include mq($from: desktop) {
    width: 45vw;
    margin-left: 2rem;
  }
  @include mq($from: extrawide) {
    width: 30vw;
  }

  &-inner {
    margin-top: 0.5rem;
    @include mq($from: tablet) {
      position: absolute;
      left: 12%;
      top: 12%;
      width: 85%;
      height: 60%;
    }
    padding: 0.5rem;
    overflow: none;
    line-height: 1.5rem;
    p,
    h2 {
      margin: 0;
    }
  }
}
