.full-width {
  max-width: 800px;
  padding-top: 1rem;
  margin: 1rem;
  @media screen and (min-width: $desktop) {
    margin: 0 auto;
    width: 80vw;
    padding: 2rem;
    padding-bottom: 0;
  }
}

.top-pad {
  padding-top: 1rem;
}

.bottom-pad {
  padding-bottom: 1rem;
}

.page-title {
  margin-bottom: 2rem;
}
