.main-container {
  margin-top: 2rem;
  @include mq($from: tablet) {
    margin-top: 5rem;
  }
  grid-area: content;
  padding: 2rem;
}

.full-width {
  padding-top: 1rem;
  @media screen and (min-width: $tablet) {
    padding: 2rem;
    padding-bottom: 0;

    .page-title {
      font-size: 1.8rem;
    }
  }
}

.top-pad {
  padding-top: 1rem;
}

.bottom-pad {
  padding-bottom: 1rem;
}

.first-section {
  @include mq($from: tablet) {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
    column-gap: 1.5rem;
    grid-template-rows: 1fr 1fr;
  }
}
