.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0.5rem;
}

.main-container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 100vw;
  @media screen and (min-width: $tablet) {
    padding: 0;
    max-width: 800px;
  }
}

.container {
  max-width: 800px;
  padding-top: 3rem;
}

.top-pad {
  padding-top: 1rem;
}

.bottom-pad {
  padding-bottom: 1rem;
}
