.markdown {
  &.single-page#about li {
    list-style-type: none;
    margin-left: 0;
    line-height: 2em;
    padding-left: 0;
    vertical-align: middle;

    &:before {
      vertical-align: middle;
      content: '';
      display: inline-block;
      height: 1.5em;
      width: 1.5em;
      background-image: url(/icons/speech-heart.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 0.5em;
    }
  }

  img.image-right {
    @media screen and (min-width: 600px) {
      max-width: 250px;
      float: right;
    }
    box-shadow: none;
    border: 0;
  }

  figure {
    &.big {
      img {
        width: unset;
      }
    }
    img {
      width: 40%;
      border-radius: 0;
      box-shadow: none;
      border: 0;
      margin-bottom: 1rem;
    }
    figcaption {
      font-style: italic;
    }
  }
  .blog-share {
    img {
      margin: 0;
    }
  }
  .twitter-tweet {
    font-family: inherit;
    color: #000;
    font-size: 1em;

    &::before {
      content: '';
      background-image: url('/icons/twitter-blue.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 1.5rem;
      height: auto;
      padding-right: 25px;
      vertical-align: middle;
    }
  }
}
