.markdown {
  p {
    margin-bottom: 1em;
    line-height: 1.75em;
  }

  h1 {
    font-size: 3rem;

    @media screen and (min-width: 567px) {
      font-size: 2.5rem;
    }
  }

  h2 {
    font-size: 2rem;
    line-height: 1em;
    margin-top: 1.5em;
    margin-bottom: 0.8em;

    @media screen and (min-width: 567px) {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-size: 1.5rem;

    @media screen and (min-width: 567px) {
      font-size: 1.5rem;
    }
  }

  h4 {
    font-size: 1.5rem;

    @media screen and (min-width: 567px) {
      font-size: 1.25rem;
    }
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  ul {
    margin-bottom: 1.25rem;
    margin-left: 1.5em;
    list-style: none;
  }

  li {
    margin-left: 0;
    line-height: 2em;
    padding-left: 0;
    vertical-align: middle;
  }

  li:before {
    vertical-align: middle;
    content: "";
    display: inline-block;
    height: 0.7em;
    width: 0.7em;
    background-image: url(/icons/heart-bullet.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }

  hr {
    position: relative;
    margin: 1.75rem 0;
    border: 0;
    border-top: 1px solid $secondary;
  }

  abbr {
    font-size: 0.8rem;
    font-weight: bold;
    color: #666666;
    text-transform: uppercase;
  }

  abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #808080;
  }

  blockquote {
    max-width: 80%;

    @media screen and (min-width: 567px) {
      max-width: 100%;
    }

    padding: 1rem 1rem;
    margin: 1.5rem auto;
    background: rgba(245, 245, 245, 0.5);
    color: #5c5c5c;
    border-left: 0.3rem solid #15e0e7;

    blockquote p:last-child {
      margin-bottom: 0;
    }
  }

  table {
    margin: 2em 0 2em 0;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
  }

  td, th {
    padding: 0.25rem 0.5rem;
    border: 1px solid #e5e5e5;
    text-align: center;
  }

  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
    background-color: #f7f7f7;
  }

  pre {
    border-radius: 3px;
    margin-bottom: 1.5rem;
  }

  code {
    font-family: "Roboto Mono", monospace;
  }

  img {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
  }

  .caption {
    display: block;
    font-style: italic;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  ul.tags {
    display: flex;
    align-items: center;
    margin-left: 0;
  }

  li.star-bullet:before {
    background-image: url(/icons/star.svg);
    vertical-align: unset;
  }

  li.star-bullet {
    padding: 1rem;
  }
  
  &.single-page#about li {
    list-style-type: none;
    margin-left: 0;
    line-height: 2em;
    padding-left: 0;
    vertical-align: middle;

    &:before {
      vertical-align: middle;
      content: '';
      display: inline-block;
      height: 1.5em;
      width: 1.5em;
      background-image: url(/icons/speech-heart.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 0.5em;
    }
  }

  img.image-right {
    @media screen and (min-width: 600px) {
      max-width: 250px;
      float: right;
    }
    box-shadow: none;
    border: 0;
  }

  figure {
    &.big {
      img {
        width: unset;
      }
    }
    img {
      width: 40%;
      border-radius: 0;
      box-shadow: none;
      border: 0;
      margin-bottom: 1rem;
    }
    figcaption {
      font-style: italic;
    }
  }

  .twitter-tweet {
    font-family: inherit;
    color: #000;
    font-size: 1em;
    

    &::before {
      content: '';
      background-image: url('/icons/twitter-blue.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 1.5rem;
      height: auto;
      padding-right: 25px;
      vertical-align: middle;
    }
  }
}

.blog-share {
  img {
    margin: 0;
  }
}