.markdown {
  margin-bottom: 1em;
  line-height: 1.75em;

  .preamble {
    font-style: italic;
  }

  .chroma {
    background-color: var(--chroma-background);
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }
  }

  h4 {
    font-size: 1.5rem;

    @media screen and (min-width: 567px) {
      font-size: 1.25rem;
    }
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  ul {
    margin-bottom: 1.25rem;
    margin-left: 1.5em;
    list-style: none;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
    padding-left: 0;
    vertical-align: middle;
  }

  li:before {
    @include heart-bullet();
  }

  li > ul > li:before {
    @include icon-bullet('star');
  }

  em {
    font-style: italic;
  }

  strong {
    font-variation-settings: 'wght' 650;
  }

  hr {
    position: relative;
    margin: 1.75rem 0;
    border: 0;
    border-top: 1px solid var(--grey-mid);
  }

  abbr {
    font-size: 0.8rem;
    font-weight: bold;
    color: #666666;
    text-transform: uppercase;
  }

  abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #808080;
  }

  blockquote {
    background: var(--blockquote-background-color);
    p {
      margin: 0;
    }
    max-width: 80%;

    @media screen and (min-width: 567px) {
      max-width: 100%;
    }

    padding: 1rem 1rem;
    margin: 1.5rem auto;
    border-left: 0.3rem solid var(--aqua-84);

    blockquote p:last-child {
      margin-bottom: 0;
    }
  }

  table {
    margin: 2em 0 2em 0;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
  }

  td,
  th {
    padding: 0.25rem 0.5rem;
    border: 1px solid #e5e5e5;
    text-align: center;
  }

  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
    background-color: #f7f7f7;
  }

  pre {
    border-radius: 3px;
    margin-bottom: 1.5rem;
    white-space: pre-wrap !important;
    overflow: scroll;
    padding: 1rem;

    &.chroma code {
      color: inherit;
    }
  }

  code {
    color: var(--inline-code-color);
    word-break: break-word;
    font-family: monospace;
  }

  img {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
  }

  .caption {
    font-size: 0.9rem;
    display: block;
    font-style: italic;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .single-page#about li {
    list-style-type: none;
    margin-left: 0;
    line-height: 2em;
    padding-left: 0;
    vertical-align: middle;

    &:before {
      vertical-align: middle;
      content: '';
      display: inline-block;
      height: 1.5em;
      width: 1.5em;
      background-image: url(/icons/speech-heart.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 0.5em;
    }
  }

  img.image-right {
    @media screen and (min-width: 600px) {
      max-width: 250px;
      float: right;
    }
    box-shadow: none;
    border: 0;
  }

  figure {
    &.big {
      img {
        max-width: 100%;
      }
    }
    margin: 0;

    img {
      border: 0;
      margin-bottom: 1rem;
      @media screen and (min-width: $tablet) {
        max-width: 60%;
      }
    }
    figcaption {
      font-style: italic;
    }
  }

  .twitter-tweet {
    font-family: inherit;
    font-size: 1em;

    @media screen and (max-width: $tablet) {
      max-width: 100%;
      margin: 1.5rem 0;
    }
    &::before {
      content: '';
      background-image: url('/icons/twitter-blue.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 1.5rem;
      height: auto;
      padding-right: 25px;
      vertical-align: middle;
    }
  }
}

.blog-share {
  img {
    margin: 0;
  }
}
