.navbar {
  padding: 0;
  padding-top: auto;

  grid-area: 3 / 1 / 4/ 1;
  .navbar-menu {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    font-family: var(--family-monospace);
    text-transform: lowercase;
    font-size: 1.2rem;
    @include mq($from: tablet) {
      font-size: 1.5rem;
    }
    @include mq($from: desktop) {
      font-size: 2rem;
    }

    li.navbar-item {
      padding-right: 0.8rem;

      &.current a {
        text-decoration: underline;
      }
      &:last-of-type {
        padding-right: 0;
      }
      &:not(:first-of-type):before {
        font-size: 1.2rem;
        @include heart-bullet;
        margin-right: 0.8rem;
      }
      a {
        color: var(--nav-link-color);
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
          @include neon-glow(
            var(--header-glow-hover-color-1),
            var(--header-glow-hover-color-2)
          );
          color: var(--header-hover-color);
        }
      }
    }
  }
}

.social-icons {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 1em;
}

li.social-icon {
  line-height: 0;
  padding-right: 1rem;

  a {
    line-height: 0;
  }
  svg {
    width: 20px;
  }
}

.pagination-nav {
  justify-content: center;
  display: flex;
  width: 100%;
  ul {
    list-style-type: none;
    display: inline-flex;
    li {
      &:not(:last-of-type):first-of-type {
        padding-right: 0.6rem;
      }
      &:not(:first-of-type):before {
        @include heart-bullet();
      }
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
