.navbar {
  padding: 1em 0;
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 1rem;

    .navbar-item {
      &:not(:first-of-type):before {
        @include icon-bullet('/icons/star.svg');
      }
      font-family: 'Alef', sans-serif;
      font-size: 1rem;
      padding-right: 0.7em;

      &.no-pad {
        padding-right: 0.2em;
      }
      a {
        @include gradient-underline;
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
}

.social-icons {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 1em;
}

.social-icon {
  line-height: 0;
  &.star-bullet:before {
    @include icon-bullet('/icons/star.svg');
  }
  padding: 0 0.5rem;
  a {
    line-height: 0;
    color: $mid-pink;
    &:hover {
      color: $turquoise;
    }
  }
  svg {
    width: 15px;
  }

  display: none;

  @media (min-width: $tablet) {
    display: inline;
  }
}