.navbar {
  padding: 0;
  grid-area: 3 / 1/ 4 / 40;
  @include mq($from: desktop) {
    justify-self: end;
  }
  .navbar-menu {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    font-family: 'VT323', monospace;
    text-transform: lowercase;

    @include mq($from: desktop) {
      padding-top: 1rem;
      width: auto;
      justify-content: flex-end;
      padding-right: 2rem;
    }

    li.navbar-item {
      @include mq($until: desktop) {
        padding-right: 1.5rem;

        &:last-of-type {
          padding-right: 0;
        }
        &:not(:first-of-type):before {
          @include heart-bullet;
        }
      }
      @include mq($from: desktop) {
        font-size: 2rem;
        transform: rotate(-45deg);
      }
      font-size: 1.5rem;

      a {
        font-weight: 800;
        color: var(--nav-link-color);
        text-decoration: none;
        &:hover {
          color: var(--link-hover-color);
        }
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

.social-icons {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 1em;
}

li.social-icon {
  line-height: 0;
  padding-right: 1rem;

  a {
    line-height: 0;
    &:hover {
      color: var(--aqua-84);
    }

    @media (prefers-color-scheme: dark) {
      color: var(--aqua-84);
      &:hover {
        color: var(--blush);
      }
    }
  }
  svg {
    width: 20px;
  }
}

.pagination-nav {
  justify-content: center;
  display: flex;
  width: 100%;
  ul {
    list-style-type: none;
    display: inline-flex;
    li {
      a {
        &:hover {
          color: var(--aqua-84);
        }
      }
      &:not(:last-of-type):first-of-type {
        padding-right: 0.6rem;
      }
      &:not(:first-of-type):before {
        @include heart-bullet();
      }
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
