.profile {
  margin-bottom: 3rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  .flex-wrapper {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: $tablet) {
    max-width: 50%;
    padding: 0;
  }

  @media screen and (min-width: $desktop-lg) {
    max-width: 30%;
    padding: 0;
  }
  h3 {
    @include theme('color', $h3-color);
    font-size: 1.5rem;
    margin: 0;
  }
  .separator {
    margin: 1rem auto;
  }

  a {
  }

  p {
    font-size: 1rem;
    margin: 0;
  }
}

.intro {
  margin: 0 auto;
  padding: 2rem;
  // margin-bottom: 2rem;
  font-size: 1.1rem;
  @media screen and (min-width: $tablet) {
    max-width: 80%;
  }
  @media screen and (min-width: $desktop) {
    max-width: 60%;
  }
  @media screen and (min-width: $desktop-lg) {
    max-width: 35%;
  }
  a {
  }
  p {
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
  .big-text {
    font-weight: 700;
    @include theme('color', $header-color);
    font-size: 1.5rem;
    display: block;
    margin-top: 2rem;
  }
  .intro-photo {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    float: left;
  }
}
.photo {
  border-radius: 50%;
  max-width: 75px;
  max-height: 75px;
  margin-right: 1rem;
  border: 2px solid $purple-light;
  @media screen and (min-width: $tablet) {
    margin-right: 1.5rem;
  }
}
