.profile {
  margin-bottom: 3rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  .flex-wrapper {
    display: flex;
    align-items: center;
  }
  @include mq($from: tablet) {
    max-width: 45%;
    padding: 0;
  }
  @include mq($from: desktop) {
    max-width: 21%;
  }

  @include mq($from: extrawide) {
    max-width: 30%;
    padding: 0;
  }
  h3 {
    color: var(--h3-color);
    font-size: 1.5rem;
    margin: 0;
    font-family: var(--family-monospace);
  }
  .separator {
    margin: 1rem auto;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }
}

.intro {
  margin: 0 auto;
  padding: 2rem;
  // margin-bottom: 2rem;
  font-size: 1.1rem;
  @media screen and (min-width: $tablet) {
    max-width: 80%;
  }
  @media screen and (min-width: $desktop) {
    max-width: 60%;
  }
  @media screen and (min-width: $desktop-lg) {
    max-width: 35%;
  }
  p {
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
  .big-text {
    font-weight: 700;
    color: var(--header-color);
    font-size: 1.5rem;
    display: block;
    margin-top: 2rem;
  }
  .intro-photo {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    float: left;
  }
}
.photo {
  flex-shrink: 0;
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  margin-right: 1rem;
  border: 2px solid var(--purple-80);
  @media screen and (min-width: $tablet) {
    margin-right: 1.5rem;
  }
}
