.profile {
  margin-bottom: 3rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  .flex-wrapper {
    display: flex;
    align-items: center;
  }
  @include mq($from: tablet) {
    max-width: 45%;
    padding: 0;
  }
  @include mq($from: desktop) {
    max-width: 21%;
  }

  @include mq($from: extrawide) {
    max-width: 30%;
    padding: 0;
  }

  h2 {
    color: var(--h3-color);
    font-size: 1.5rem;
    margin: 0;
    font-family: var(--family-monospace);
  }
  .separator {
    margin: 1rem auto;
  }

  p {
    font-size: 1rem;
    margin: 0;
    &.email-address {
      padding-top: 0.5rem;
      font-size: 0.9rem;
    }
  }
  .social-icon svg {
    width: 1.2rem;
  }
}

.photo {
  flex-shrink: 0;
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  margin-right: 1rem;
  border: 2px solid var(--purple-80);
  @media screen and (min-width: $tablet) {
    margin-right: 1.5rem;
  }
}
