:root {
  --champagne-pink: hsla(22, 17%, 93%, 1);
  --aqua-84: hsla(164, 97%, 84%, 1);
  --aqua-90: hsla(164, 97%, 90%, 1);
  --light-cyan: hsla(158, 76%, 90%, 1);
  --blush: hsla(342, 76%, 65%, 1);
  --magenta: hsla(303, 88, 50, 1);
  --cherry-blossom-70: hsla(350, 100%, 70%, 1);
  --cherry-blossom-86: hsla(350, 100%, 86%, 1);
  --cherry-blossom-96: hsla(350, 100%, 96%, 1);
  --purple-90: hsla(251, 78%, 90%, 1);
  --purple-80: hsla(251, 78%, 80%, 1);
  --purple-67: hsla(251, 78%, 67%, 1);
  --purple-50: hsla(251, 78%, 50%, 1);
  --midnight: hsla(239, 50%, 20%, 1);
  --gunmetal-20: hsla(212, 14%, 20%, 1);
  --gunmetal: hsla(212, 14%, 12%, 1);
  --grey-mid: hsla(270, 4%, 44%, 1);
}

$background-color: 'background-color';
$link-color: 'link-color';
$body-color: 'body-color';
$header-color: 'header-color';
$h1-color: 'h1-color';
$h2-color: 'h2-color';
$h3-color: 'h3-color';
$h4-color: 'h4-color';
$link-hover-color: 'link-hover-color';
$post-subtitle-color: 'post-subtitle-color';
$accent-color: 'accent-color';
$accent-hover-color: 'accent-hover-color';
$date-color: 'date-color';
$light-theme: 'light-theme';
$dark-theme: 'dark-theme';
$inline-code-color: 'inline-code-color';
$code-block-background-color: 'code-block-background-color';
$blockquote-background-color: 'blockquote-background-color';
$content-box-color: 'content-box-color';

$themes: (
  $light-theme: (
    $background-color: var(--aqua-90),
    $link-color: var(--blush),
    $body-color: var(--gunmetal),
    $header-color: var(--purple-90),
    $h1-color: var(--purple-67),
    $h2-color: var(--purple-67),
    $h3-color: var(--blush),
    $h4-color: var(--blush),
    $link-hover-color: var(--blush),
    $post-subtitle-color: var(--blush),
    $accent-color: var(--aqua-84),
    $accent-hover-color: var(--aqua-90),
    $date-color: var(--grey-mid),
    $inline-code-color: var(--blush),
    $code-block-background-color: var(--purple-67),
    $blockquote-background-color: rgba(245, 245, 245, 0.5),
    $content-box-color: var(--cherry-blossom-86),
  ),
  $dark-theme: (
    $background-color: var(--gunmetal),
    $link-color: var(--blush),
    $body-color: white,
    $header-color: var(--purple-90),
    $h1-color: var(--blush),
    $h2-color: var(--aqua-84),
    $h3-color: var(--blush),
    $h4-color: var(--blush),
    $link-hover-color: var(--blush),
    $post-subtitle-color: var(--blush),
    $accent-color: var(--aqua-84),
    $accent-hover-color: var(--aqua-90),
    $date-color: var(--grey-mid),
    $inline-code-color: var(--blush),
    $code-block-background-color: var(--purple-67),
    $blockquote-background-color: rgba(245, 245, 245, 0.5),
    $content-box-color: var(--gunmetal),
  ),
);

$family-sans-serif: Muli, sans-serif;
$title-weight: 300;
$weight-bold: 600;

$tablet: 768px;
$desktop: 960px;
$desktop-lg: 1025px;

/* https://dev.to/chicio/add-dark-mode-support-on-your-website-with-sass-and-prefers-color-scheme-media-query-2p1 */
@mixin themeProperty(
  $theme,
  $property,
  $color,
  $additionalPropertiesPositionIsFront,
  $additionalProperties
) {
  @if $additionalPropertiesPositionIsFront {
    #{$property}: unquote(
      $additionalProperties + ' ' + map-get($theme, $color)
    );
  } @else {
    #{$property}: unquote(
      map-get($theme, $color) + ' ' + $additionalProperties
    );
  }
}

@mixin theme(
  $property,
  $color,
  $additionalPropertiesPositionIsFront: false,
  $additionalProperties: ''
) {
  $light: map-get($themes, $light-theme);
  $dark: map-get($themes, $dark-theme);

  @include themeProperty(
    $light,
    $property,
    $color,
    $additionalPropertiesPositionIsFront,
    $additionalProperties
  );

  @media (prefers-color-scheme: dark) {
    @include themeProperty(
      $dark,
      $property,
      $color,
      $additionalPropertiesPositionIsFront,
      $additionalProperties
    );
  }
}

@mixin darkmode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}
