$body-color: #2c2c2c;
$background: #ffffff;
$primary: rgb(105, 78, 151);
$secondary: #dbdbdb;
$h-color: #222222;
$link-hover: #fa72d1;

$family-sans-serif: Nunito Sans, sans-serif;
$code: $primary;
$title-weight: 300;
$navbar-background-color: $background;
$navbar-item-hover-background-color: $background;
$navbar-item-hover-color: $secondary;

