
{{ define "main" }}
    <div class="container">
    <div class="post-date">
            {{ if .Params.date }} <a href="{{ .Permalink }}">{{ .Date.Format .Site.Params.dateFormat }}</a>{{ end }}
        </div>
        <h1 class="title top-pad {{if .Params.Subtitle}}small-bottom-margin{{end}} strong-post-title">
           {{ .Title }}
        </h1>
        {{if .Params.Subtitle }}<span class="post-subtitle">{{ .Params.Subtitle }}</span>{{ end }}
    </div>
    <!-- Begin blog post content -->
    <div class="container markdown top-pad">
        {{ .Content }}
    </div>
    {{ partial "separator.html" . }}

    <div class="container markdown">
        <div class="blog-share">
                Share this post:
                {{ if .Site.Params.share.twitter }}
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ .Title }}%20{{ .Permalink }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="fab fa-twitter"></span>
                    <span class="hidden">Twitter</span>
                </a>
                {{ end }}
                {{ if .Site.Params.share.facebook }}
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"  onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="fab fa-facebook-f"></span>
                    <span class="hidden">Facebook</span>
                </a>
                {{ end }}
                {{ if .Site.Params.share.pinterest }}
                <a class="icon-pinterest" href="http://pinterest.com/pin/create/button/?url={{ .Permalink }}{{ if .Params.pinterestMedia }}&amp;media={{ .Site.BaseURL }}{{ .Params.pinterestMedia }}{{ end }}&amp;description={{ .Title | safeHTML}}" onclick="window.open(this.href, 'pinterest-share','width=580,height=296');return false;">
                    <span class="fab fa-pinterest-p"></span>
                    <span class="hidden">Pinterest</span>
                </a>
                {{ end }}
            </div>
            {{ if .Params.tags }}
            {{ $len := (len .Params.tags) }}
            <ul class="tags">
                Tag{{ if gt $len 1 }}s{{ end }}:
                {{ range $index, $tag := .Params.tags }}
                <li class="star-bullet"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ if ne (add $index 1) $len }}{{ end }}</li>
                {{ end }}
            </ul>
            {{ end }}
    </div>
    
    <!-- End blog post content -->

{{ end }}
