<!DOCTYPE html>
<html lang="en">
    <head>
        {{ block "head" . }}
        {{ partial "head/metadata.html" . }}
        {{ partial "head/openGraph.html" . }}
        {{ partial "head/favicons.html" . }}
        {{ partial "head/css.html" . }}
        {{ end }}
        <!-- Include page specific css -->
        {{ block "customCSS" . }}
        {{ end }}
    </head>
        <body>
            {{ partial "nav.html" . }}
            <section id="main" class="section">
            {{ partial "header/header.html" . }}
        

            {{ block "main" . }}
            {{ end }}

            {{ block "footer" . }}
            {{ partial "footer/text.html" . }}
            {{ end }}
            </div>
        </section>
        {{ block "js-include" . }}
        {{ partial "footer/scripts.html" . }}
        {{ end }}
        <!-- Include page specific scripts -->
        {{ block "customScripts" . }}
        {{ end }}
    </body>
</html>
