<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    {{ block "head" . }}
    {{ partial "head/metadata.html" . }}
    {{ partial "head/openGraph.html" . }}
    {{ partial "head/favicons.html" . }}
    {{ partial "head/css.html" . }}
    {{ end }}
    <!-- Include page specific css -->
    {{ block "customCSS" . }}
    {{ end }}
</head>

<body id="top">
    {{ partial "svg/defs.html" . }}

    <a href="#content" class="skip-link">Skip to main content</a>
    {{ partial "header/header.html" . }}

    <!-- {{ if .IsHome}}
    {{ partial "intro.html" . }}
    {{ end }} -->

    <main class="main-container" id="content">
        {{ block "main" . }}
        {{ end }}
    </main>
    {{ if not .IsHome }}
    {{ block "sidebar" . }}
    {{ partial "sidebar.html" . }}
    {{ end }}
    {{end}}
    {{ partial "top-icon.html" . }}


    {{ block "footer" . }}
    {{ partial "footer/footer.html" . }}
    {{ end }}

    {{ block "js-include" . }}
    {{ partial "footer/scripts.html" . }}
    {{ end }}

    <!-- Include page specific scripts -->
    {{ block "customScripts" . }}
    {{ end }}
</body>

</html>