<svg class="defs">
  <defs>
    <path fill="currentColor" d="M23 49h25v671H23z" id="front-stripe-1" />
    <path fill="currentColor" d="M229 48h11v170h-11z" id="side-stripe-1" />
    <path d="M23 96h24v23H23z" id="dark-window" />
    <g id="window-1">
      <path fill="#d0991f" d="M24 48h23v12H24z" />
      <path fill="#f2ca71" d="M24 48h23v12H24z" transform="translate(0 12)" />
    </g>
    <path id="front-shadow" d="M211 84H14v14h28v14h28V98h27.991L98 112h28l.009-14h27.909l.082 14h28V98h29V84z"
      fill="currentColor" class="sky2-frontshadow" />
    <path id="front-stripe-2" fill="currentColor" d="M0 56h224v28H0z" />
    <path id="side-stripe-2" fill="currentColor" d="M224 56h112v28H224z" />
    <g id="window-2">
      <path fill="#f5c322" d="M238 84h14v14h-14z" />
      <path fill="#fddf7c" d="M238 98h14v14h-14z" />
    </g>
  </defs>
</svg>