<footer class="footer" id="footer">
    <span class="footer-text">© Sophie Koonin {{ now.Format "2006" }}</span>
    <a class="rss-link" href="/index.xml">RSS</a>
    <div class="skyscraper" id="skyscraper-1">
        {{ partial "svg/skyscraper-1.html" . }}
    </div>
    <div class="skyscraper" id="skyscraper-2">
        {{ partial "svg/skyscraper-2.html" . }}
    </div>
    <div class="skyscraper" id="skyscraper-3">
        {{ partial "svg/skyscraper-2.html" . }}
    </div>
    <div class="skyscraper" id="skyscraper-4">
        {{ partial "svg/skyscraper-2.html" . }}
    </div>
    <div class="palmtree" id="palmtree-1">
        {{ partial "svg/palmtree.html" . }}
    </div>
    <div class="palmtree" id="palmtree-2">
        {{ partial "svg/palmtree.html" . }}
    </div>
    <div class="palmtree" id="palmtree-3">
        {{ partial "svg/palmtree.html" . }}
    </div>
    <div class="palmtree" id="palmtree-4">
        {{ partial "svg/palmtree.html" . }}
    </div>
</footer>