{{ $gsap := resources.Get "/js/gsap.min.js" }}
{{ $motionPath := resources.Get "/js/MotionPathPlugin.min.js" }}
{{ $index := resources.Get "/js/index.js" | minify }}
{{ $scripts := slice $index  | resources.Concat "/js/bundle.js" | fingerprint }}
<script src="{{ $gsap.Permalink }}" defer="defer"></script>
<script src="{{ $motionPath.Permalink }}" defer="defer"></script>
<script src="{{ $scripts.Permalink }}" defer="defer" integrity="{{ $scripts.Data.Integrity }}"></script>
{{ template "_internal/google_analytics_async.html" . }}