.hero-body {
  padding: 0;
}

.section {
  padding-top: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 1em;
}

.social-icons li {
  margin: 0 0.5em;
}

.summary {
  margin-bottom: 2rem;
}

span.bold {
  font-weight: 500;
}

.markdown.single-page li {
  list-style-type: none;
  margin-left: 0;
  line-height: 2em;
  padding-left: 0;
  vertical-align: middle;
}
.markdown.single-page li:before {
  vertical-align: middle;
  content: '';
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  background-image: url(/icons/speech-heart.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
}

.markdown img.image-right {
  box-shadow: none;
  border: 0;
} 

@media screen and (min-width: 600px) {
  .markdown img.image-right {
    max-width: 250px;
    float: right;
  }
}
.markdown h2 {
  margin-top: 0;
}