
.hero-body {
  padding: 0;
}

.section {
  padding-top: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 1em;
}

.social-icons li {
  margin: 0 0.5em;
}

.summary {
  margin-bottom: 2rem;
}
