<aside class="profile">
  {{ partial "separator.html" .}}
  <div class="flex-wrapper">
    <img class="photo" src="/img/photo.jpg" aria-hidden="true" />
    <div>
      <h2>Sophie Koonin</h2>
      <p>software developer, musician, habitual mess&#8209;maker.</p>
      <p class="email-address"><a href="mailto:sophie@localghost.dev">sophie@localghost.dev</a></p>
      <p class="email-address"> <a href="https://twitter.com/type__error" class="social-icon" title="Twitter">
          twitter
        </a></p>
    </div>
  </div>


  {{ partial "separator.html" .}}
</aside>