{{ define "main" }}
<article class="first-section">
  <img src="/img/sophie.png" alt="" />
  <div class="h2-name">
    <h2>Sophie Koonin</h2>
  </div>
  <div class="profile-wrapper">
    <p>Doggo ipsum shoober borking doggo h*ck bork borkdrive doing me a frighten, corgo ur givin me a spook pats. Doggo
      I
      am bekom fat blop shoob heckin mlem borkf, snoot very jealous pupper what a nice floof shoober woofer. Fluffer
      stop
      it fren long water shoob extremely cuuuuuute doge many pats snoot blep, pupperino ruff the neighborhood pupper
      maximum borkdrive boofers. Doge heckin blep vvv dat tungg tho floofs, long woofer pats boofers doggo.</p>

  </div>
</article>
{{end}}