{{ define "main" }}
<section class="first-section">
  <div class="content-box">
    <h2>Sophie</h2>
    <p>Tungg puggorino heckin doing me a frighten he made many woofs, pupper ur givin me a spook vvv, wow very biscit
      very
      taste wow adorable doggo. You are doing me the shock very hand that feed shibe snoot woofer pats, extremely
      cuuuuuute bork pupperino. Most angery pupper I have ever seen long bois lotsa pats wow very biscit lotsa pats very
      jealous pupper, extremely cuuuuuute super chub fluffer.</p>
  </div>
</section>
{{end}}