{{ define "main" }}
{{ partial "separator.html" .}}
{{ partial "intro.html" . }}
{{ partial "separator.html" . }}
    {{ with .Site.GetPage "/posts" }}
    <ol class="posts-list">
        {{ $paginator := .Paginate (where .Pages "Type" "posts") }}
        {{ template "_internal/pagination.html" . }}
        {{ range $paginator.Pages }}
        {{ if not .Params.hide }}
        <li>
        {{ partial "blog/summary.html" . }}
        </li>
        {{ end }}       
        {{ partial "separator.html" .}}

        {{ end }}
    </ol>
    {{end}}

    <!-- End Blog section -->
{{end}}