<article class="summary">
    <span
        class="post-date">{{ if .Params.date }}{{ .Date.Format (.Site.Params.dateFormat | default "Jan 02, 2006") }}{{ end }}</span>
    <h2 class="post-title {{if .Params.Subtitle}}small-bottom-margin{{end}} "><a
            href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <div class="post-subtitle-group">
        {{if .Params.Subtitle }}<span class="post-subtitle">{{ .Params.Subtitle }}</span>{{ end }}

    </div>
    <p class="markdown">
        {{ .Summary }}
    </p>
    <a class="read-more-link" href="{{ .Permalink }}">Continue reading <span aria-hidden="true">→</span></a>
</article>