@use "../utils";

[data-theme="twothousandandthree"] {
  --header-font-family: "Bleeding Cowboys", cursive;
  --body-color: white;
  --body-font-family: "Arial Narrow", "Verdana", sans-serif;
  --content-bg: hsl(271, 31%, 33%);
  --max-inline-size: 100ch;
  --bullet: url("/img/heart-bullet.svg");
  --accent-color: hsl(271, 50%, 23%);
  --link-hover-color: hsl(273, 49%, 79%);
  --photo-bg: hsl(271, 31%, 23%);
  --list-heading-color: white;
  --bullet: "x";
  body {
    background-color: hsl(271, 31%, 23%);
    background-image: url("/img/grunge-header.png");
    background-repeat: no-repeat;
  }

  header {
    justify-content: flex-start;
    padding-block: var(--space-xl);
    .header {
      text-transform: lowercase;
      font-size: var(--step-6);
    }
  }

  .content {
    margin-inline: 0;
  }

  main {
    container-type: inline-size;
    container-name: main;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: max-content 1fr;
    gap: 1rem;
    width: min(100%, 60rem);
    margin: 0;
    max-height: min(50vh, 25rem);

    a:not(h2 > a):hover {
      text-decoration: line-through;
    }

    .list-heading {
      padding: var(--space-xs-s);
      margin-block-start: 0;
      text-transform: lowercase;
      flex-basis: 100%;
      flex-direction: row;
      justify-content: space-between;
      padding-block: 0;
      background-color: var(--content-bg);
    }
  }

  .sidebar {
    padding: var(--space-xs-s);
    background: var(--content-bg);
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    overflow: hidden;

    @container main (min-width: 760px) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
    }

    .main-nav-list {
      margin: 0;
    }
    &-extras {
      font-size: var(--step--2);
      @container main (max-width: 760px) {
        display: none;
        height: 0;
      }
      & > * {
        margin-block-start: 1rem;
      }
    }

    h2 {
      text-transform: lowercase;
      font-size: var(--step-0);
      margin-block-end: 0.5rem;

      @container main (max-width: 760px) {
        display: none;
      }
    }

    button {
      border: 0;
      cursor: pointer;
      background: none;
      font-family: var(--body-font-family);
      color: white;
      font-weight: bold;
      text-decoration: underline;
      &:hover {
        transform: rotateY(180);
      }
    }
    nav ul {
      font-size: var(--step--1);
      @container main (min-width: 760px) {
        gap: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        & > li + li {
          margin-block-start: 0.5rem;
        }
      }
      .nav-link,
      .submenu #submenu-trigger {
        padding: 0;
        line-height: 1;
      }

      a,
      button {
        text-transform: lowercase;
      }
    }

    hr {
      width: 60%;
      color: white;
      margin-inline: auto;
      margin-block: 1rem;
    }

    .sidebar-profile {
      display: grid;
      grid-template-columns: 4rem 1fr;
      gap: 1rem;
      img {
        background-color: var(--link-hover-color);
      }
    }

    dl.sidebar-stats,
    dl.php-currently {
      display: grid;
      grid-template-columns: max-content 1fr;
      font-size: var(--step--2);
      gap: 0.5em;
      dt {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  .pagination {
    font-size: var(--step--1);
    margin-inline: 0;
  }

  .posts-list {
    margin: 0;

    .content {
      padding: var(--space-xs-s);
    }
  }
  main > .content-inner {
    padding: 0;
  }

  .content,
  .list-wrapper,
  .everything-else {
    height: 100%;
    overflow: auto;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;

    @container main (min-width: 760px) {
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
    }
  }

  .content,
  .everything-else {
    padding: var(--space-xs-s);

    font-size: var(--step--2);
    h1,
    h2,
    h3 {
      text-transform: lowercase;
    }
    h1 {
      font-size: var(--step-2);
    }
    h2,
    .post-subtitle {
      font-size: var(--step-0);
    }
    h3 {
      font-size: var(--step--1);
    }

    ol,
    ul {
      margin-block: 0;
      & > * + * {
        margin-block-start: 0.25rem;
      }
    }
  }

  .content,
  .content-inner,
  .everything-else {
    max-inline-size: 100%;
  }
  footer {
    width: min(100%, 60rem);
  }
  .everything-else {
    background-color: var(--content-bg);

    ul {
      display: block;
      list-style: var(--bullet);
      li {
        background: none;
        min-height: unset;
        a,
        p {
          font-size: inherit;
        }
        a {
          display: block;
          text-align: initial;
          &:hover {
            text-decoration: none;
            span {
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}
