@use "../utils";
@use "./shared";

[data-theme="city"] {
  // vars
  color-scheme: light dark;
  --bg-gradient-top: oklch(0.25 0.09 276.73 / 1);
  --bg-gradient-mid: oklch(0.47 0.28 283.78 / 1);
  --bg-gradient-bottom: oklch(59.41% 0.289 331.1);
  --background: fixed linear-gradient(var(--bg-gradient-top), var(--bg-gradient-mid) 80%);
  --body-color: light-dark(oklch(0.34 0.02 309.63 / 1), white);
  --accent-color: oklch(0.67 0.33 330.95 / 1);
  --content-bg: light-dark(oklch(0.95 0.03 316.17 / 0.5), oklch(0.22 0.02 284.12 / 0.95));
  --stars-display: none;
  --header-color: light-dark(black, oklch(0.91 0.07 327.77 / 1));
  --header-font-family: "Bayshore", cursive;
  --bullet: url("/img/themes/heart-purple-small.svg");
  --link-color: light-dark(oklch(0.46 0.21 292.12 / 1), oklch(0.94 0.08 175.91 / 1));
  --link-hover-color: light-dark(oklch(64.081% 0.23752 328.48), oklch(0.94 0.08 175.91 / 1));
  --inline-code-color: light-dark(oklch(48.376% 0.23141 274.82), oklch(0.87 0.2 145.12 / 1));
  --inline-code-bg: light-dark(oklch(89.965% 0.0713 326.829), transparent);
  --list-heading-color: white;
  --photo-bg: linear-gradient(oklch(0.63 0.23 288.28 / 1), oklch(79.365% 0.19842 329.093));
  --blockquote-bg: oklch(1 0 0 / 0.15);

  main {
    display: grid;
  }
  footer {
    @include shared.grid-footer;
    background: linear-gradient(hsla(0, 0%, 100%, 0) 40%, var(--bg-gradient-bottom));
  }

  header {
    width: 100%;
    height: clamp(10rem, 30vh, 25rem);

    .header {
      transform: rotate(-5deg);
      text-align: center;
      font-size: var(--step-8);

      a {
        font-weight: 400;
        color: hsla(303, 88%, 90%, 1);
        text-decoration: none;
        @include shared.neon-glow(oklch(75.88% 0.264 329.46), oklch(67.06% 0.326 330.95));
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }

        &:hover,
        &:focus {
          color: hsla(125, 88%, 90%, 1);
          @include shared.neon-glow(oklch(92.234% 0.1166 182.659), oklch(89.294% 0.16945 170.274));
        }
      }
    }
  }

  .footer-links a,
  .list-heading a,
  .content a:not(.neocities-badge):not(.webmention-author):not(.page-heading a) {
    text-decoration: none;
    --bg-h: 2px;

    @include shared.fancy-link-underlines(oklch(63.24% 0.224 288.28), oklch(66.47% 0.321 330.95));
  }

  .content {
    border-radius: 10px;
    padding: var(--space-s-m);
    box-shadow: 8px 8px 0 3px rgba(0, 0, 0, 0.2);

    h1 {
      color: light-dark(oklch(56.47% 0.20652 286.801), oklch(0.69 0.19 288.75));
    }
    h2 {
      color: light-dark(oklch(45.666% 0.23509 280.684), oklch(0.75 0.3 330.29));
    }
    h3 {
      color: light-dark(oklch(55.612% 0.25769 305.516), oklch(0.9 0.21 145.05));
    }
    h4 {
      color: light-dark(oklch(56.763% 0.25056 330.007), oklch(0.89 0.12 327.81));
    }
  }

  .sidebar .main-nav {
    .nav-link {
      color: var(--link-color);
      font-family: var(--heading-font-family);
      text-transform: lowercase;
      text-decoration: none;
      font-size: var(--step-0);

      &:hover {
        color: light-dark(oklch(87.189% 0.09484 316.427), hsla(125, 88%, 90%, 1));
      }
      &[data-state="active"] {
        text-decoration: underline;
      }
    }
  }

  .list-heading,
  .pagination {
    a {
      font-variation-settings: "wght" 500;
      color: white;
    }
  }
  .everything-else {
    li,
    a {
      border-radius: 10px;
    }
  }

  &[data-time="night"] {
    color-scheme: dark;
    --bullet: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' height='10' width='10' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath fill='%23fff' d='M4 2h1v5H4z'/%3E%3Cpath fill='%23fff' d='M3 3h3.167v3H3z'/%3E%3Cpath fill='%23fff' d='M7 4v1H2V4z'/%3E%3Cpath fill='%23fff' d='M4 0h1v1H4z'/%3E%3Cpath fill='%23fff' d='M8 4h1v1H8z'/%3E%3Cpath fill='%23fff' d='M0 4h1v1H0z'/%3E%3Cpath fill='%23fff' d='M4 8h1v1H4z'/%3E%3C/svg%3E");

    .list-heading h1 {
      color: oklch(0.87 0.2 145.12 / 1);
    }

    .nav-link {
      &:hover {
        @include shared.neon-glow(hsla(125, 88%, 70%, 1), oklch(83.82% 0.326 143));
      }
    }
    .star-grid {
      display: grid;
    }

    .star {
      color: #ffffff;
      &.star-1 {
        width: 7px;
        height: 7px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 3 3' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath fill='%23ffffff' d='M1 0h1v1H1z' /%3E%3Cpath fill='%23ffffff' d='M0 1h1v1H0z' /%3E%3Cpath fill='%23ffffff' d='M1 2h1v1H1z' /%3E%3Cpath fill='%23ffffff' d='M2 1h1v1H2z' /%3E%3C/svg%3E");
      }

      &.star-2 {
        width: 11px;
        height: 11px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 7 7' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath fill='%23fff' d='M3 2h1v3H3z' /%3E%3Cpath fill='%23fff' d='M5 3v1H2V3z' /%3E%3Cpath fill='%23fff' d='M3 0h1v1H3z' /%3E%3Cpath fill='%23fff' d='M6 3h1v1H6z' /%3E%3Cpath fill='%23fff' d='M0 3h1v1H0z' /%3E%3Cpath fill='%23fff' d='M3 6h1v1H3z' /%3E%3C/svg%3E");
      }

      &.star-3 {
        width: 11px;
        height: 11px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath fill='%23fff' d='M4 2h1v5H4z'/%3E%3Cpath fill='%23fff' d='M3 3h3.167v3H3z'/%3E%3Cpath fill='%23fff' d='M7 4v1H2V4z'/%3E%3Cpath fill='%23fff' d='M4 0h1v1H4z'/%3E%3Cpath fill='%23fff' d='M8 4h1v1H8z'/%3E%3Cpath fill='%23fff' d='M0 4h1v1H0z'/%3E%3Cpath fill='%23fff' d='M4 8h1v1H4z'/%3E%3C/svg%3E");
      }

      &.star-4 {
        width: 2px;
        height: 2px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1 1' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath fill='%23fff' d='M0 0h1v1H0z'/%3E%3C/svg%3E");
      }
    }

    #star-1 {
      grid-area: 3/2/4/3;
    }

    #star-2 {
      grid-area: 9/4/10/5;
    }
    #star-3 {
      grid-area: 4/8/5/9;
    }

    #star-4 {
      grid-row: 5 / span 1;
      grid-column: 19 / span 1;
      @container wrapper (min-width: #{utils.$lg_breakpoint}) {
        grid-column: 34 / span 1;
      }
    }
    #star-5 {
      grid-row: 8 / span 1;
      grid-column: 15 / span 1;
      @container wrapper (min-width: #{utils.$lg_breakpoint}) {
        grid-column: 36 / span 1;
      }
    }
    #star-6 {
      display: none;
      @container wrapper (min-width: #{utils.$med_breakpoint}) {
        display: inline;
        align-self: start;
        grid-area: 2/19/3/20;
      }
    }
    #star-7 {
      grid-row: 7 / span 1;
      grid-column: 11 / span 1;
      @container wrapper (min-width: #{utils.$lg_breakpoint}) {
        grid-column: 29 / span 1;
      }
    }
    #star-8 {
      grid-area: 6 / 2 / 7 / 3;
      @container wrapper (min-width: #{utils.$lg_breakpoint}) {
        grid-area: 9 / 25 / 10 / 26;
      }
    }
    #star-9 {
      grid-area: 3/19/4/20;
      @container wrapper (min-width: #{utils.$lg_breakpoint}) {
        grid-area: 8/10/9/11;
      }
    }
    #star-10 {
      grid-area: 7/20/8/21;

      @container wrapper (min-width: #{utils.$lg_breakpoint}) {
        grid-area: 10/16/11/17;
      }
    }

    #star-11 {
      grid-row: 2 / span 1;
      grid-column: 4 / span 1;
      @container wrapper (min-width: #{utils.$lg_breakpoint}) {
        grid-column: 32 / span 1;
      }
    }
    #star-12 {
      grid-area: 1/5/2/6;
    }
    #star-13 {
      grid-row: 1 / span 1;
      grid-column: 9 / span 1;
      @container wrapper (min-width: #{utils.$lg_breakpoint}) {
        grid-column: 38 / span 1;
      }
    }
    #star-14 {
      grid-area: 2 / 15 / 3 / 16;
      @container wrapper (min-width: #{utils.$lg_breakpoint}) {
        grid-area: 8/ 20 / 9 / 21;
      }
    }
  }
  &[data-time="day"],
  &[data-time="sunrise"] {
    #skyscraper-3 {
      .sky2-side {
        color: hsl(279, 60%, 50%);
      }
      .sky2-front {
        color: hsl(298, 73%, 56%);
      }
      .sky2-frontshadow {
        color: hsl(298, 55%, 43%);
      }
      .sky2-sidestripe {
        color: hsl(298, 63%, 55%);
      }
      .sky2-top-side {
        color: hsl(298, 44%, 26%);
      }
      .sky2-top-front {
        color: hsl(298, 62%, 56%);
      }

      .sky2-frontstripe {
        color: hsl(298, 63%, 74%);
      }
    }

    #skyscraper-1 {
      .sky1-topfront {
        color: hsl(261, 100%, 81%);
      }
      .sky1-topside {
        color: hsl(261, 43%, 60%);
      }
      .sky1-front {
        color: hsl(264, 100%, 84%);
      }
      .sky1-side {
        color: hsl(264, 100%, 75%);
      }
      .sky1-frontstripe {
        color: hsl(261, 80%, 65%);
      }
      .sky1-sidestripe {
        color: hsl(261, 80%, 60%);
      }
    }

    #skyscraper-2,
    #skyscraper-4 {
      .sky2-front {
        color: hsl(227, 43%, 57%);
      }
      .sky2-side {
        color: hsl(238, 81%, 65%);
      }
      .sky2-frontshadow {
        color: hsl(257, 63%, 52%);
      }
      .sky2-frontstripe {
        color: hsl(203, 97%, 75%);
      }
      .sky2-sidestripe {
        color: hsl(203, 97%, 55%);
      }
      .sky2-top-side {
        color: hsl(203, 97%, 35%);
      }
      .sky2-top-front {
        color: hsl(222, 72%, 77%);
      }
    }
  }

  .skyscraper {
    display: initial;
  }

  .star-grid {
    height: clamp(10rem, 35vh, 25rem);
    align-items: center;
    position: fixed;
    z-index: -1;
    width: 100%;
    justify-items: center;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(20, 1fr);
    @container wrapper (min-width: #{utils.$lg_breakpoint}) {
      grid-template-columns: repeat(40, 1fr);
    }
  }

  #skyscraper-3 {
    .sky2-side {
      color: hsl(298, 95%, 15%);
    }
    .sky2-front {
      color: hsl(298, 64%, 42%);
    }
    .sky2-frontshadow {
      color: hsl(298, 73%, 30%);
    }
    .sky2-sidestripe {
      color: hsl(298, 72%, 25%);
    }
    .sky2-top-side {
      color: hsl(298, 44%, 26%);
    }
    .sky2-top-front {
      color: hsl(298, 62%, 56%);
    }

    .sky2-frontstripe {
      color: hsl(298, 60%, 53%);
    }
  }

  #skyscraper-1 {
    .sky1-topfront {
      color: hsl(249, 100%, 81%);
    }
    .sky1-topside {
      color: hsl(249, 43%, 60%);
    }
    .sky1-front {
      color: hsl(249, 100%, 78%);
    }
    .sky1-side {
      color: hsl(249, 50%, 45%);
    }
    .sky1-frontstripe {
      color: hsl(249, 43%, 60%);
    }
    .sky1-sidestripe {
      color: hsl(248, 17%, 42%);
    }
  }

  #skyscraper-2,
  #skyscraper-4 {
    .sky2-front {
      color: hsl(190, 43%, 40%);
    }
    .sky2-side {
      color: hsl(256, 55%, 22%);
    }
    .sky2-frontshadow {
      color: hsl(222, 60%, 36%);
    }
    .sky2-frontstripe {
      color: hsl(190, 73%, 52%);
    }
    .sky2-sidestripe {
      color: hsl(256, 65%, 45%);
    }
    .sky2-top-side {
      color: hsl(256, 55%, 52%);
    }
    .sky2-top-front {
      color: hsl(222, 72%, 77%);
    }
  }
}
