@use "../utils";

[data-theme="garden"] {
  --body-font-family: "Vollkorn", serif;
  --background: hsl(128, 34%, 56%);
  --content-bg: hsl(36, 95%, 71%);
  --body-color: hsl(29, 80%, 12%);

  header {
    width: 100%;
    height: clamp(10rem, 30vh, 25rem);
    background-color: hsl(190, 86%, 75%);
  }

  .content {
    border: 8px ridge hsl(29, 80%, 40%);
    @include utils.fluid-padding;
  }
}
