@use '../utils';

[data-theme='minimalist'] {
  --content-bg: none;
  --header-font-family: 'Krungthep', var(--body-font-family);
  --header-color: hsl(0, 0%, 20%);
  --accent-color: hsl(0, 0%, 20%);
  --bullet: disc;

  .skyscraper,
  .palmtree {
    display: none;
  }

  a,
  button.nav-link {
    font-variation-settings: 'wght' 500;
    text-decoration: underline;
    font-size: inherit;
    &,
    &:visited {
      color: var(--body-color);
    }
    &:hover {
      color: hsl(264, 59%, 62%);
    }
  }

  header {
    padding-block-end: 0;
  }
  .header {
    margin-block-start: var(--space-l);
    margin-block-end: var(--space-ms-);
    font-size: var(--step-5);
    a {
      text-decoration: none;
    }
  }

  main {
    margin-block-start: var(--space-xs);

    padding: 0;
  }

  .sidebar {
    margin-block-end: var(--space-xs);
    a {
      span {
        display: block;
        margin-right: auto;
      }
    }
    .submenu-list {
      border: 1px solid var(--body-color);
      background: var(--background);
      text-align: left;
    }
  }
  .content {
    max-inline-size: var(--max-inline-size);
  }

  footer {
    @extend .flow;
  }
}
