@use "../utils";

[data-theme="minimalist"] {
  color-scheme: light dark;
  --white: oklch(97.476% 0.0065 106.786);
  --black: oklch(25.615% 0.00003 271.152);
  --background: light-dark(var(--white), var(--black));
  --body-color: light-dark(var(--black), var(--white));
  --content-bg: var(--background);
  --header-font-family: "DM Serif Text", var(--body-font-family);
  --header-color: light-dark(var(--black), var(--white));
  --accent-color: light-dark(oklch(0.61 0.17 299.8 / 1), oklch(92.68% 0.05627 216.115));
  --bullet: disc;

  .skyscraper {
    display: none;
  }
  a,
  button.nav-link {
    font-size: inherit;
    &,
    &:visited {
      color: var(--body-color);
    }
    &:hover {
      text-decoration-style: dotted;
      color: var(--accent-color);
    }
  }

  header {
    justify-content: flex-start;
    .header {
      font-size: var(--step-5);
    }
    @container (width < 600px) {
      padding: 0;
      justify-content: center;
      padding-top: var(--space-l);
    }
  }

  [data-page="index"] {
    header h1 {
      font-size: var(--step-8);
    }
  }

  main {
    @container (width > 600px) {
      margin-block-start: var(--space-s);
    }
    padding: 0;
  }

  .sidebar {
    a {
      font-family: var(--heading-font-family);
      text-decoration-thickness: from-font;
      span {
        margin-right: auto;
      }
      &[data-state="active"] {
        color: light-dark(oklch(67.392% 0.19499 303.833), oklch(76.189% 0.11596 317.459));
      }
    }
    .submenu-list {
      border: 1px solid var(--body-color);
      background: var(--background);
      text-align: left;
    }
  }
  .content {
    max-inline-size: var(--max-inline-size);
  }

  footer .footer-content {
    @extend .flow;
  }
}
