@use "../utils";
@use "./shared";

.windows {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid hsl(250, 100%, 20%);
  border-bottom: 2px solid hsl(250, 100%, 20%);
  border-radius: 0;
}

.link-button {
  @extend .windows;
  padding: var(--space-3xs-2xs) var(--space-3xs);
  font-size: var(--step--2);
  min-width: 6rem;
  background-color: var(--content-bg);
  text-decoration: none;
  color: var(--body-color);

  &:active {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid hsl(250, 100%, 20%);
    border-top: 2px solid hsl(250, 100%, 20%);
    span {
      border: 1px dotted #000;
    }
  }
  &:hover {
    background-color: hsl(249, 51%, 80%);
  }
}

[data-theme="vaporwave"] {
  --body-font-family: "Win95 sans", monospace;
  --header-font-family: "VCR OSD Mono", monospace;
  --content-bg: hsl(250, 100%, 89%);
  --accent-color: hsl(306, 100%, 50%);
  --background: fixed linear-gradient(hsl(171, 100%, 50%), hsl(263, 81%, 77%), hsl(306, 100%, 50%));
  --link-color: hsla(250, 100%, 20%, 1);
  --link-hover-color: white;
  --bullet: url("/icons/cd-bullet.png");
  --tweet-bg: hsl(177, 93%, 77%);
  --inline-code-bg: hsl(172, 100%, 67%);
  --list-heading-color: white;
  --photo-bg: linear-gradient(-45deg, hsl(172, 100%, 44%), hsl(306, 100%, 50%));
  --header-color: #fff;
  cursor: url("/img/cursor-w95.png"), default;

  .skyscraper,
  .palmtree {
    display: none;
  }

  a,
  button {
    cursor: url("/img/pointer-w95.png"), pointer;
  }

  .page-wrapper {
    background: url("/img/vaporwave-bg.webp") no-repeat fixed;
    background-position: bottom center;
    background-size: cover;
  }

  .theme-switcher {
    font-size: var(--step--2);
  }

  .list-heading {
    font-size: var(--step--1);
    h1,
    h2 {
      padding: var(--space-2xs);

      font-size: var(--step-0);
      background: linear-gradient(45deg, hsl(305.9, 100%, 50%), hsl(172, 100%, 44.3%));
    }
    h2 {
      font-size: var(--step--1);
    }
    a {
      @extend .link-button;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    text-transform: uppercase;
    letter-spacing: 0.5ch;
  }

  .header {
    text-transform: uppercase;
    font-size: var(--step-4);
    margin-block: var(--space-m);
    a {
      letter-spacing: clamp(0.31rem, calc(0.14rem + 0.85vw), 1ch);
    }
  }

  .content {
    @extend .windows;
    font-family: "Courier New", monospace;
    padding-inline: 0;

    p > code {
      font-family: "Courier New", monospace;
      font-weight: bold;
    }

    .page-heading {
      text-transform: uppercase;
      background: fixed linear-gradient(90deg, hsl(172, 100%, 44.3%), hsl(259.1, 100%, 54.3%));
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
      position: relative;
      color: #fff;
      letter-spacing: 1ch;
      font-size: var(--step--1);
      font-variation-settings: "wght" 400;
      padding: var(--space-3xs);
      border: 2px solid transparent;
      line-height: 1.5;
      a {
        text-decoration: none;
        color: white;
        letter-spacing: 0.8ch;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0rem;
        right: 0rem;
        width: 1.75rem;
        height: 1.75rem;
        background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3Aserif%3D%22http%3A%2F%2Fwww.serif.com%2F%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A1.5%3B%22%3E%3Crect%20x%3D%221.818%22%20y%3D%221.818%22%20width%3D%2216.364%22%20height%3D%2216.364%22%20style%3D%22fill%3A%23d0c7ff%3B%22%2F%3E%3Cpath%20d%3D%22M2%2C18l16%2C0l0%2C-16%22%20style%3D%22fill%3Anone%3Bstroke%3A%23000%3Bstroke-width%3A1.2px%3B%22%2F%3E%3Cpath%20d%3D%22M18%2C2l-16%2C0l0%2C16%22%20style%3D%22fill%3Anone%3Bstroke%3A%23fff%3Bstroke-width%3A1.17px%3B%22%2F%3E%3Cg%3E%3Cpath%20d%3D%22M13.636%2C8.785c0%2C-1.072%20-0.898%2C-1.941%20-2.005%2C-1.941c-0.673%2C-0%20-1.267%2C0.321%20-1.631%2C0.812c-0.364%2C-0.491%20-0.958%2C-0.812%20-1.631%2C-0.812c-1.107%2C-0%20-2.005%2C0.869%20-2.005%2C1.941c-0%2C0.153%200.02%2C0.3%200.054%2C0.442c0.278%2C1.677%202.202%2C3.444%203.582%2C3.929c1.378%2C-0.485%203.304%2C-2.254%203.582%2C-3.929c0.034%2C-0.142%200.054%2C-0.291%200.054%2C-0.442Z%22%20style%3D%22fill-rule%3Anonzero%3B%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      }

      .post-subtitle {
        font-size: var(--step--1);
      }
    }

    .content-inner {
      padding: var(--space-s);
      margin-inline: auto;
      --heading-font-family: "VCR OSD Mono", monospace;

      blockquote:not(.tweet-card) {
        border-inline-color: var(--accent-color);
      }
    }
  }

  .tweet-card {
    border-radius: 0;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid hsl(250, 100%, 20%);
    border-bottom: 2px solid hsl(250, 100%, 20%);
  }

  .post-subtitle {
    text-transform: uppercase;
  }

  .sidebar .main-nav {
    margin-block-start: 1px;
    .nav-link {
      @extend .link-button;

      &[data-state="active"],
      &[aria-expanded="true"] {
        text-decoration: underline;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-left: 2px solid hsl(250, 100%, 20%);
        border-top: 2px solid hsl(250, 100%, 20%);
      }
    }
    .submenu-list {
      font-size: var(--step--2);
      z-index: 2;
    }
  }

  .pagination {
    a {
      @extend .link-button;
      .pagination-arrow {
        display: none;
      }
    }
  }
  footer,
  footer a {
    color: #fff;
  }
  .footer-links a,
  .content a,
  .submenu a {
    --bg-h: 100%;
    @include shared.fancy-link-underlines(hsl(305.9, 100%, 50%), hsl(172, 100%, 44.3%));

    & {
      background-size: 0% var(--bg-h);
      &:hover {
        background-size: 100% var(--bg-h);
      }
    }
  }
}
