<header class="header">
    <svg>
        <defs>
            <g class="star" id="star-template-1">
                <path fill="currentColor" d="M1 0h1v1H1z" />
                <path fill="currentColor" d="M0 1h1v1H0z" />
                <path fill="currentColor" d="M1 2h1v1H1z" />
                <path fill="currentColor" d="M2 1h1v1H2z" />
            </g>
            <g class="star" id="star-template-2">
                <path fill="currentColor" d="M3 2h1v3H3z" />
                <path fill="currentColor" d="M5 3v1H2V3z" />
                <path fill="currentColor" d="M3 0h1v1H3z" />
                <path fill="currentColor" d="M6 3h1v1H6z" />
                <path fill="currentColor" d="M0 3h1v1H0z" />
                <path fill="currentColor" d="M3 6h1v1H3z" />
            </g>
            <g class="star" id="star-template-3">
                <path fill="currentColor" d="M4 2h1v5H4z" />
                <path fill="currentColor" d="M3 3h3.167v3H3z" />
                <path fill="currentColor" d="M7 4v1H2V4z" />
                <path fill="currentColor" d="M4 0h1v1H4z" />
                <path fill="currentColor" d="M8 4h1v1H8z" />
                <path fill="currentColor" d="M0 4h1v1H0z" />
                <path fill="currentColor" d="M4 8h1v1H4z" />
            </g>
            <g class="star" id="star-template-4">
                <path fill="currentColor" d="M0 0h1v1H0z" />
            </g>
        </defs>
    </svg>
    <svg viewBox="0 0 3 3" id="star-1" width="6" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd">
        <use xlink:href="#star-template-1" />
    </svg>
    <svg viewBox="0 0 9 9" id="star-2" width="11" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
        <use xlink:href="#star-template-3" />

    </svg>
    <svg viewBox="0 0 7 7" id="star-3" width="11" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd">
        <use xlink:href="#star-template-2" />
    </svg>
    <svg viewBox="0 0 1 1" id="star-4" width="2" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
        <use xlink:href="#star-template-4" />
    </svg>
    <svg viewBox="0 0 3 3" id="star-5" width="6" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd">
        <use xlink:href="#star-template-1" />
    </svg>
    <svg viewBox="0 0 3 3" id="star-6" width="6" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
        <use xlink:href="#star-template-1" />

    </svg>
    <svg viewBox="0 0 7 7" id="star-7" width="9" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd">
        <use xlink:href="#star-template-2" />
    </svg>
    <svg viewBox="0 0 1 1" id="star-8" width="2" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
        <use xlink:href="#star-template-4" />
    </svg>
    <svg viewBox="0 0 1 1" id="star-9" width="2" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
        <use xlink:href="#star-template-4" />
    </svg>
    <svg viewBox="0 0 7 7" id="star-10" width="9" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd">
        <use xlink:href="#star-template-2" />
    </svg>
    <svg viewBox="0 0 9 9" id="star-11" width="13" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
        <use xlink:href="#star-template-3" />
    </svg>
    <svg viewBox="0 0 1 1" id="star-12" width="2" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
        <use xlink:href="#star-template-4" />
    </svg>
    <svg viewBox="0 0 9 9" id="star-13" width="13" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
        <use xlink:href="#star-template-1" />
    </svg>
    <svg viewBox="0 0 7 7" id="star-14" width="7" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
        <use xlink:href="#star-template-2" />
    </svg>

    <!-- Title -->
    <h1 class="header-text">
        <a href="{{ .Site.BaseURL}}" class="neon" data-text="localghost">
            Localghost
        </a>
    </h1>
    <label for="toggle-checkbox" class="darkmode-toggle">
        <span class="visually-hidden">Toggle dark mode</span>
        <input type="checkbox" id="toggle-checkbox" />
        <span class="toggle-slider" aria-hidden="true"></span>
    </label>
    {{ partial "nav.html" $ }}

</header>