{% extends "base.njk" %}
{% block content %}
    <h1 id="homepage-heading" class="page-heading">Everything else</h1>
  <ul class="everything-else">
    {% for item in etc %}
      <li {%if item.background%} data-bg style="--etc-bg: url('/img/etc/{{item.background}}')"{%endif%}>
        <a href="{{ item.url }}">{{ item.title }}</a>
    {% endfor %}
  </ul>
{% endblock %}