@use "utils";

.header {
  color: var(--header-color);
  font-family: var(--header-font-family);
  font-size: var(--step-4);
  font-display: optional;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.posts-list {
  margin: 0;
}

.list-heading {
  font-size: var(--step-0);
  margin-block: var(--space-s);
  max-inline-size: var(--max-inline-size);
  margin-inline: auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  h1 {
    display: inline-block;
    color: var(--list-heading-color);
  }
}

.content {
  padding-inline: var(--space-2xs);
  margin-inline: auto;
  max-inline-size: min(var(--max-inline-size), 100%);
  background: var(--content-bg);
  flex-basis: 0;
  flex-grow: 999;
  font-size: var(--step-0);
  line-height: 1.5;

  @container (width < 50ch) {
    line-height: 1.3;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
    a {
      text-decoration-thickness: from-font;
    }
  }

  .content-inner {
    padding-block: var(--space-s);
    max-inline-size: var(--max-inline-size);

    picture {
      margin-inline: auto;
      max-width: 80%;
    }
    &[data-with-subtitle] {
      padding-block-start: 0;
    }

    ul,
    ol {
      margin-inline-start: var(--space-s);
    }

    ul:not(.main-nav-list):not(.tag-list):not(ul li ul) > li + li,
    ol li + li {
      margin-block-start: var(--space-xs);
    }
    iframe {
      display: block;
      margin-inline: auto;
      max-width: 100%;
    }
    figure {
      img:not(.about-photo):not(.inset-image-wrapper img) {
        max-width: 80%;
        margin-inline: auto;
        margin-bottom: var(--space-2xs);
        &.small {
          width: min(15rem, 100%);
        }
      }
      figcaption {
        font-style: italic;
        font-size: var(--step--1);
        text-align: center;
      }
    }

    .content-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
      align-items: center;

      gap: 1rem;

      img,
      picture,
      video {
        width: 100%;
      }
    }
  }

  .p-author {
    display: none;
  }

  &.summary .content-inner {
    padding-block-end: 0;
  }

  .post-subtitle {
    font-size: var(--step-1);
    font-family: var(--heading-font-family);
  }

  ul:not([class]) li {
    list-style: var(--bullet);
    padding-inline-start: var(--space-2xs);
    margin-inline-start: var(--space-xs);
  }

  .recent-posts li {
    list-style: var(--bullet);
    padding-inline-start: var(--space-2xs);
  }

  &[data-type] {
    position: relative;

    .grid {
      align-items: start;
    }
  }

  &.summary[data-type]::after {
    font-size: var(--step-1);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  &.summary[data-type="book"]::after {
    content: "📚";
  }
  &.summary[data-type="podcast"]::after {
    content: "🎙";
  }
  &.summary[data-type="music"]::after {
    content: "🎧";
  }
  &.summary[data-type="video"]::after {
    content: "🎥";
  }
  &.summary[data-type="game"]::after {
    content: "🎮";
  }
  &.summary[data-type="recipe"]::after {
    content: "👩🏻‍🍳";
  }
  &.summary[data-type="website"]::after {
    content: "💻";
  }
  &.summary[data-type="link"]::after {
    content: "🔗";
  }
}

.about-photo {
  float: right;
  aspect-ratio: 1;
  width: min(30%, 15rem);
  height: auto;
  shape-outside: circle(50%);
  border-radius: 50%;
  margin-inline-start: 1rem;
  background: var(--photo-bg);
}

.skyscraper {
  display: none;
}

.sidebar {
  container-type: inline-size;

  .main-nav {
    color: var(--link-color);
    font-size: clamp(1rem, 1.2615rem + 0.75vw, 1.9531rem);
    max-inline-size: var(--max-inline-size);
    margin-inline: auto;

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      gap: var(--space-3xs-2xs);
      margin-block-end: var(--space-m);
      list-style: none;
      margin-inline-start: 0;
      width: 100%;
    }

    li {
      display: inline-block;
      .nav-link {
        padding: 0.25rem;
        display: inline-block;
      }
    }
  }
}

/* Keep the SVG stuff out the way when theme doesn't use it */
.star-grid {
  display: none;
}

.defs {
  display: none;
}

.theme-switcher {
  border: 0;
  position: absolute;
  top: var(--space-xs);
  right: var(--space-xs);
  display: flex;
  align-items: center;

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1rem;
  }

  label {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: var(--space-m);
    height: var(--space-m);
    border: 2px solid transparent;
    border-radius: 50%;
    img {
      width: var(--space-m);
      display: inline;
      border-radius: 50%;
    }

    input:checked + * {
      border: 2px dotted var(--accent-color);
    }
    input:focus-visible + * {
      border: 2px solid var(--accent-color);
    }
  }

  label[for="city"] {
    &:hover img {
      background: url("/img/themes/city-icon-hover.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  label[for="lofi"] {
    &:hover img {
      background: url("/img/themes/sunset-icon-hover.png");
      background-size: contain;
    }
  }

  label[for="minimalist"] {
    &:hover img {
      background: #fafafa;
    }
  }

  label[for="twothousandandthree"] {
    &:hover img {
      background: url("/img/themes/2003-icon-hover.png");
      background-size: contain;
    }
  }

  label[for="garden"] {
    &:hover {
      background-image: url("/img/themes/garden-icon-hover.png");
      background-size: contain;
    }
  }

  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  label[for="vaporwave"] {
    &:hover img {
      background: linear-gradient(90deg, hsl(306, 100%, 50%), hsl(172, 100%, 44%));
      @media (prefers-reduced-motion: no-preference) {
        animation: rotate 1.5s linear infinite;
      }
    }
  }

  label[for="geocities"] {
    &:hover {
      img {
        @media (prefers-reduced-motion: no-preference) {
          clip: rect(0, var(--space-m), 0px, 0);
          animation: dialup 4s forwards;
        }
      }
    }
    img {
      position: absolute;
      left: 0;
    }
  }
}

.post-metadata {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .tags {
    display: flex;
    flex-wrap: wrap;

    ul {
      flex-wrap: wrap;
      display: flex;
      margin-inline-start: var(--space-2xs);
      li {
        margin-block: 0;

        &:first-of-type {
          list-style: none;
        }

        &:not(:first-of-type) {
          margin-inline-start: var(--space-s);
          padding-inline-start: var(--space-2xs);

          &::marker {
            content: var(--bullet);
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  max-inline-size: var(--max-inline-size);
  margin-inline: auto;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &.next-only {
    justify-content: flex-end;
  }
}

.no-js .theme-switcher,
.no-js #theme-switcher-blurb {
  display: none;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  container-type: inline-size;
  container-name: wrapper;
}

.skyscraper {
  line-height: 0;
  align-self: end;
  justify-self: center;
  grid-row: 3 / span 2;
}

#skyscraper-1 {
  grid-column: 2 / span 1;
  @container wrapper (min-width: #{utils.$med_breakpoint}) {
    grid-column: 4 / span 1;
  }
}
#skyscraper-2 {
  grid-column: 3 / span 1;
  justify-self: start;
  @container wrapper (min-width: #{utils.$med_breakpoint}) {
    grid-column: 5 / span 1;
    justify-self: center;
  }
}

#skyscraper-4 {
  grid-column: 3 / span 2;
  justify-self: center;
  margin-bottom: -1.5rem;
  @container wrapper (min-width: #{utils.$med_breakpoint}) {
    grid-column: 5 / span 2;
    justify-self: end;
  }
  @container wrapper (min-width: #{utils.$lg_breakpoint}) {
    justify-self: center;
  }
}

#skyscraper-3 {
  margin-bottom: -2rem;
  grid-column: 1 / span 1;
  justify-self: end;
  @container wrapper (min-width: #{utils.$med_breakpoint}) {
    grid-column: 6 / span 2;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dialup {
  0% {
    clip: rect(0, var(--space-m), 0, 0);
  }
  10% {
    clip: rect(0, var(--space-m), calc(var(--space-m) * 0.1), 0);
  }
  30% {
    clip: rect(0, var(--space-m), calc(var(--space-m) * 0.3), 0);
  }
  70% {
    clip: rect(0, var(--space-m), calc(var(--space-m) * 0.7), 0);
  }
  100% {
    clip: rect(0, var(--space-m), var(--space-m), 0);
  }
}

// Preload the background images for the themes that need them.
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1; // hide images
  content: url("/img/themes/vaporwave-bg.webp") url("/img/themes/geocities/1999-bg.webp"); // load images
}

.footer-buttons {
  display: flex;
  gap: var(--space-xs-s);
  justify-content: center;
  align-items: center;

  .neocities-badge {
    text-decoration: none;
    path[fill="#AAA"] {
      fill: var(--accent-color);
    }
  }
}

.footer-links {
  margin-inline: auto;
  gap: var(--space-xs);
  display: flex;
  align-items: center;
  justify-content: center;
}

button.nav-link {
  border: 0;
  cursor: pointer;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: 600;
}

.inset-image-wrapper {
  container-type: inline-size;
  img {
    margin-inline: auto;
    max-width: 75%;
    margin-block-end: 1rem;
  }
  @container (min-width: 500px) {
    img {
      float: left;
      max-width: 33%;
      margin-inline-end: 1rem;
    }
    ul {
      overflow: hidden;
    }
  }
}

.everything-else {
  max-width: 80ch;
  margin-inline: auto;

  @container (width < 60vw) {
    max-width: 100ch;
  }
  h1 {
    color: var(--link-color);
  }

  h2 {
    font-size: var(--step-0);
  }
  ul {
    display: grid;
    max-width: 100%;
    list-style: none;
    gap: var(--space-s);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    li {
      background-color: var(--content-bg);
      height: min(20vh, 200px);

      &:last-of-type {
        grid-column: 1 / -1;
      }

      &[data-bg] {
        background: var(--etc-bg) no-repeat center;
        background-size: cover;

        a {
          background-color: color-mix(in srgb, var(--content-bg), transparent 20%);
          transition: background-color 0.4s ease;
          &:hover {
            background-color: var(--content-bg);
          }
        }
      }

      a {
        display: flex;
        text-decoration: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        font-size: var(--step-0);
        padding: var(--space-2xs);

        p {
          text-decoration: none;
          color: var(--body-color);
          font-size: var(--step--1);
          font-weight: 400;
          text-decoration: none;
        }
      }
    }
  }
}
