@use "utils";

html,
body {
  overscroll-behavior: none;
  min-height: 100vh;
}
body {
  background: var(--background);
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-weight: 400;
  line-height: 1.5;
}

select {
  padding: 2px;
  font-family: var(--body-font-family);
}

blockquote:not(.tweet-card) {
  border-inline-start: 0.3rem solid var(--list-heading-color);
  margin-inline-start: var(--space-xs);
  background: var(--blockquote-bg);
  padding: var(--space-s-m);
  @extend .flow;
}

main {
  flex: 1;
  container: main / inline-size;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-s-m);
}

footer {
  padding: var(--space-s-m);
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: var(--step-3);
}
h2 {
  font-size: var(--step-2);
}
h3 {
  font-size: var(--step-1);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: var(--heading-font-family);
}

code:not(pre > code) {
  word-break: break-word;
  background: var(--inline-code-bg);
  color: var(--inline-code-color);
}

p {
  max-inline-size: var(--max-inline-size);
  overflow-wrap: break-word;
}

ul li ul li {
  margin-block-start: var(--space-2xs);
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  font-weight: 600;

  color: var(--link-color);
  &:hover {
    color: var(--link-hover-color);
  }
}

pre code {
  max-width: 100%;
  overflow: scroll;
  white-space: pre-wrap;
}

abbr {
  cursor: help;
}
