.wrapper {
  width: 90vw;
  width: clamp(16rem, 95vw, 70rem);
  margin-inline: auto;
  padding-inline: var(--space-2xs);
  position: relative;
}

.flow > * + * {
  margin-top: var(--space-xs-s);
}

@mixin fluid-padding {
  padding: clamp(1rem, 5%, 2rem);
}

.centered {
  text-align: center;
}

.hidden {
  display: none;
}

$med_breakpoint: 480px;
$lg_breakpoint: 780px;

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
