{{ $id := .Get "id" }}
<p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="result" data-user="sophiekoonin" data-slug-hash="{{ $id }}" data-preview="true"  data-pen-title="{{ .Get "title" }}">
  <span>See the Pen 
    <a href="https://codepen.io/sophiekoonin/pen/{{ $id }}">
      {{ .Get "title" }}}}</a> by Sophie Koonin (<a href="https://codepen.io/sophiekoonin">@sophiekoonin</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>