<footer class="footer" id="footer">
    <span class="footer-text">© Sophie Koonin {{ global.currentYear() }}</span>
    <nav aria-label="Contact & RSS links" class="footer-links">
        <a href="/feed.xml" title="RSS Feed">
            <span id="rss-link">rss</span>
            <span></span>
        </a>
        <a rel="me" href="https://social.lol/@sophie">
            <span id="mastodon-link">mastodon</span>
            <span></span>
        </a>
        <a href="mailto:sophie@localghost.dev">
            <span id="email-link">email</span>
            <span></span>
        </a>
    </nav>
    <div class="skyscraper" id="skyscraper-1">
        {% include "partials/svg/skyscraper-1.html" %}
    </div>
    <div class="skyscraper" id="skyscraper-2">
        {% include "partials/svg/skyscraper-2.html" %}
    </div>
    <div class="skyscraper" id="skyscraper-3">
        {% include "partials/svg/skyscraper-2.html" %}
    </div>
    <div class="skyscraper" id="skyscraper-4">
        {% include "partials/svg/skyscraper-2.html" %}
    </div>
    <div class="palmtree" id="palmtree-1">
        {% include "partials/svg/palmtree.html" %}
    </div>
    <div class="palmtree" id="palmtree-2">
        {% include "partials/svg/palmtree.html" %}
    </div>
    <div class="palmtree" id="palmtree-3">
        {% include "partials/svg/palmtree.html" %}
    </div>
    <div class="palmtree" id="palmtree-4">
        {% include "partials/svg/palmtree.html" %}
    </div>
</footer>