<footer class="footer" id="footer">
    <div class="footer-content">
        <div class="footer-buttons">
            {% include "partials/neocities-badge.njk" %}
            <a href="http://11ty.dev">
                <img eleventy:ignore src="/img/buttons/made-with-11ty.gif" alt="Made with Eleventy"/>
            </a>
            <a href="https://ko-fi.com/s/4662b19f61">
            <img eleventy:ignore src="/img/buttons/made-by-a-human.png" alt="Made by a human" />
            </a>
        </div>
        <nav aria-label="Contact & RSS links" class="footer-links">
            <a href="/rss-feeds" title="RSS Feeds">
                <span id="rss-link">subscribe via rss</span>
            </a>
            <a href="mailto:sophie@localghost.dev">
                <span id="email-link">send me an email</span>
            </a>
            <a rel="me" href="https://social.lol/@sophie">
                <span id="mastodon-link">mastodon</span>
            </a>
            <a rel="me" href="https://bsky.app/profile/localghost.dev">
                <span id="bluesky-link">bluesky</span>
            </a>
        </nav>
        <p class="footer-text">© Sophie Koonin 2019 - {{ global.currentYear() }}</p>
    </div>
        {% include "partials/svg/skyscraper-1.html" %}

        {{ svg('skyscraper-2', {
            name: 'skyscraper-2'
        }) }}
        {{ svg('skyscraper-2', {
            name: 'skyscraper-3'
        }) }}
        {{ svg('skyscraper-2', {
            name: 'skyscraper-4'
        }) }}
</footer>