{% set excerpt %}
{% if excerptText %}
  {{ excerptText | safe }}
{% elseif page.excerpt %}
  {{ page.excerpt | safe }}
{% else %}
  {{ metadata.description | safe }}
{% endif %}
{% endset %}
{% set ogImageName %}
{% if isBlog %}
  og-images/{{ title | slugify }}
  {% else %}img/og-image{% endif %}
{% endset %} <meta property="og:title" content="{{ title }}{{ ' - localghost' if not isHome }}"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="{{ excerpt | trim }}"/>
<meta property="og:url" content="{{ metadata.url }}{{ page.url }}"/>
<meta property="og:site_name" content="localghost"/>
<meta property="og:locale" content="en_GB"/>
<meta name="generator" content="Eleventy"/>
<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'none'; manifest-src 'self'; frame-src 'self' https://codepen.io https://*.codepen.io; worker-src
    'self'; object-src 'self'; font-src 'self'; connect-src 'self' https://plausible.io; img-src * data:; style-src 'self'
    data:; script-src 'self' https://*.codepen.io https://plausible.io {{ global.baseUrl }} {% if global.isDev
    %}'unsafe-inline'{% endif %};"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{ title }}{{ ' - ' + metadata.title if not isHome }}"/>
<meta name="twitter:site" content="@type__error"/>
<meta name="twitter:description" content="{{ excerpt | trim }}"/>
<meta property="og:image" content="{{ global.baseUrl }}/{{ ogImageName | trim }}.png"/>
<meta property="twitter:image" content="{{ global.baseUrl }}/{{ ogImageName | trim }}.png"/>
<link rel="webmention" href="https://webmention.io/{{ metadata.domain }}/webmention"/>
<link rel="pingback" href="https://webmention.io/{{ metadata.domain }}/xmlrpc"/>
<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"/>