<fieldset class="theme-switcher" id="theme-switcher">
  <legend class="visually-hidden">choose a theme</legend>
  <label for="city"><input class="theme-option" name="theme" type="radio" id="city" value="city"/>
    <img src="/img/city-icon.png" title="midnight city" alt=""/>
    <span class="visually-hidden">midnight city</span>
  </label>
  <label for="sunset">
    <input class="theme-option" name="theme" type="radio" id="sunset" value="sunset">
    <img src="/img/sunset-icon.png" alt="" title="miami sunset"/>
    <span class="visually-hidden">miami sunset</span>
  </label>
  <label for="minimalist">
    <span class="visually-hidden">minimalist</span>
    <input class="theme-option" name="theme" type="radio" id="minimalist" value="minimalist">
    <img src="/img/minimalist-icon.png" title="minimalist" alt=""/>
  </label>
  <label for="twothousandandthree">
    <span class="visually-hidden">2003</span>
    <input class="theme-option" name="theme" type="radio" id="twothousandandthree" value="twothousandandthree">
    <img src="/img/2003-icon.png" title="2003" alt=""/>
  </label>
  <label for="pastel" title="pastel">
    <span class="visually-hidden">pastel</span>
    <input class="theme-option" name="theme" type="radio" id="pastel" value="pastel">
    <span class="theme-option-icon-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 47.5 47.5">
        <defs>
          <clipPath id="a"><path d="M0 38h38V0H0v38z"/>
          </clipPath>
        </defs>
        <g clip-path="url(#a)" transform="matrix(1.25 0 0 -1.25 0 47.5)"><path
            id="heart-fill"
            d="M36.885 25.166c0 5.45-4.418 9.868-9.867 9.868-3.308 0-6.227-1.632-8.018-4.128-1.79 2.496-4.71 4.129-8.017 4.129-5.45
              0-9.868-4.418-9.868-9.868 0-.773.098-1.52.266-2.242C2.75 14.413 12.216 5.431 19 2.965c6.783 2.466 16.249 11.448 17.617
              19.96.17.721.268 1.47.268 2.241"
            fill="#aa8ed6"/>
        </g>
      </svg>
    </span>
  </label>
  <label for="vaporwave">
    <input class="theme-option" name="theme" type="radio" id="vaporwave" value="vaporwave">
    <img src="/img/vaporwave-icon.png" title="vaporwave" alt=""/>
    <span class="visually-hidden">vaporwave</span>
  </label>
  <label for="geocities">
    <input class="theme-option" name="theme" type="radio" id="geocities" value="geocities">
    <img src="/img/netscape-logo.png" title="1999" alt=""/>
    <span class="visually-hidden">1999</span>
  </label>
</fieldset>