<fieldset class="theme-switcher" id="theme-switcher">
  <legend class="visually-hidden">choose a theme</legend>
    <label for="garden" title="garden">
    <span class="visually-hidden">garden</span>
    <input class="theme-option" name="theme" type="radio" id="garden" value="garden">
    <span class="theme-option-icon-wrapper">
      <img src="/img/garden-theme/bee-lg.png" alt=""/>
      <span class="visually-hidden">garden</span>
    </span>
  </label>
  <label for="city"><input class="theme-option" name="theme" type="radio" id="city" value="city"/>
    <img src="/img/city-icon.png" title="midnight city" alt=""/>
    <span class="visually-hidden">midnight city</span>
  </label>
  <label for="sunset">
    <input class="theme-option" name="theme" type="radio" id="sunset" value="sunset">
    <img src="/img/sunset-icon.png" alt="" title="miami sunset"/>
    <span class="visually-hidden">miami sunset</span>
  </label>
  <label for="minimalist">
    <span class="visually-hidden">minimalist</span>
    <input class="theme-option" name="theme" type="radio" id="minimalist" value="minimalist">
    <img src="/img/minimalist-icon.png" title="minimalist" alt=""/>
  </label>
  <label for="twothousandandthree">
    <span class="visually-hidden">2003</span>
    <input class="theme-option" name="theme" type="radio" id="twothousandandthree" value="twothousandandthree">
    <img src="/img/2003-icon.png" title="2003" alt=""/>
  </label>
  <label for="vaporwave">
    <input class="theme-option" name="theme" type="radio" id="vaporwave" value="vaporwave">
    <img src="/img/vaporwave-icon.png" title="vaporwave" alt=""/>
    <span class="visually-hidden">vaporwave</span>
  </label>
  <label for="geocities">
    <input class="theme-option" name="theme" type="radio" id="geocities" value="geocities">
    <img src="/img/netscape-logo.png" title="1999" alt=""/>
    <span class="visually-hidden">1999</span>
  </label>
</fieldset>