<button popovertarget="theme-switcher"><span class="visually-hidden">Choose a theme</span><img eleventy:ignore alt="" src="/img/themes/dropper.png" /></button>
<fieldset popover class="theme-switcher" id="theme-switcher">
  <legend class="visually-hidden">Theme options</legend>
  <label for="city"><input class="theme-option" name="theme" type="radio" id="city" value="city"/>
    <img eleventy:ignore src="/img/themes/city-icon.png" title="lofi city" alt=""/>
    <span class="visually-hidden">lofi city</span>
  </label>
  <label for="garden" title="garden">
    <input class="theme-option" name="theme" type="radio" id="garden" value="garden">
      <img eleventy:ignore src="/img/themes/garden-icon.png" alt=""/>
      <span class="visually-hidden">garden</span>
  </label>
  <label for="minimalist">
    <span class="visually-hidden">minimalist</span>
    <input class="theme-option" name="theme" type="radio" id="minimalist" value="minimalist">
    <img eleventy:ignore src="/img/themes/minimalist-icon.png" title="minimalist" alt=""/>
  </label>
  <label for="twothousandandthree">
    <span class="visually-hidden">2003</span>
    <input class="theme-option" name="theme" type="radio" id="twothousandandthree" value="twothousandandthree">
    <img eleventy:ignore src="/img/themes/2003-icon.png" title="2003" alt=""/>
  </label>
  <label for="vaporwave">
    <input class="theme-option" name="theme" type="radio" id="vaporwave" value="vaporwave">
    <img eleventy:ignore src="/img/themes/vaporwave-icon.png" title="vaporwave" alt=""/>
    <span class="visually-hidden">vaporwave</span>
  </label>
  <label for="geocities">
    <input class="theme-option" name="theme" type="radio" id="geocities" value="geocities">
    <img eleventy:ignore src="/img/themes/netscape-logo.png" title="1999" alt=""/>
    <span class="visually-hidden">1999</span>
  </label>
</fieldset>
<button popovertarget="time-selector"><span class="visually-hidden">Change time of day</span><img eleventy:ignore src="/img/themes/city/sun.png"/></button>
<fieldset class="time-selector" id="time-selector" popover>
    <legend class="visually-hidden">Time options</legend>
  <label>
    <input class="theme-option" name="time" type="radio" id="now" value="now"/>
    <span>Now</span>
    </label>
  <label>
    <input class="theme-option" name="time" type="radio" id="sunrise" value="sunrise"/>
    <span>Sunrise</span>
    </label>
  <label>
    <input class="theme-option" name="time" type="radio" id="day" value="day"/>
    <span>Daytime</span>
    </label>
  <label>
    <input class="theme-option" name="time" type="radio" id="sunset" value="sunset"/>
    <span>Sunset</span>
    </label>
  <label>
    <input class="theme-option" name="time" type="radio" id="night" value="night"/>
    <span>Night</span>
    </label>
    </fieldset>
