{%- set absoluteUrl -%}{{ page.url | url | absoluteUrl(metadata.url) }}{%- endset -%}
{%- set mentions = webmentions.children | webmentionsForUrl(absoluteUrl, aliases) -%}
{%- set likesAndRetweets = webmentions.children | likesForUrl(absoluteUrl, aliases) -%}
<div class="webmentions flow" id="webmentions">
  <h2>Webmentions</h2>
  <div class="webmentions-counts">
    <img src="/icons/heart-like.svg" alt="Likes"/> {{ likesAndRetweets.likes }} <img src="/icons/retweet.svg" alt="Retweets"/>
    {{ likesAndRetweets.retweets }}
  </div>
  {%- if mentions.length > 0 -%}
    <ol class="webmentions-list flow">
      {% for webmention in mentions | reverse %}
        <li>
          <article class="webmention flow h-cite" id="webmention-{{ webmention['wm-id'] }}">
            <div class="webmention-meta">
              {% if webmention.author %}
                <a class="webmention-author p-author h-card u-url" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
                  {% if webmention.author.photo %}
                    <img class="u-photo" src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}">
                    {% else %}
                      <img src="{{ '/img/avatar-placeholder.png' | url }}" alt="">
                      {% endif %}
                      <span class="p-name">{{ webmention.author.name }}</span>
                    </a>
                  {% else %}
                    <span class="webmention__author">
                      <img class="webmention__author__photo" src="{{ '/img/webmention-avatar-default.svg' | url }}" alt="">
                        <span>Anonymous</span>
                      </span>
                    {% endif %}
                    {% if webmention.published %}
                      <time class="webmention__pubdate dt-published" datetime="{{ webmention.published }}">{{ webmention.published | dateFilter }}</time>
                    {% endif %}
                  </div>
                  <div class="webmention__content p-content">
                    {{ webmention.content.value | safe }}
                  </div>
                </article>
              </li>
            {% endfor %}
          </ol>
        {% else %}
          <p>No mentions yet.</p>
        {% endif %}
      </div>