{%- set absoluteUrl -%}{{ page.url | url | absoluteUrl(metadata.url) }}{%- endset -%}
{%- set mentions = webmentions.children | webmentionsForUrl(absoluteUrl) -%}
<div class="webmentions" id="webmentions">
  <h2>Webmentions</h2>
  {% if mentions | length %}
    <div class="webmentions__facepile">
      {% for webmention in mentions | reverse | head(5) %}
        <img src="{% if webmention.author.photo %}{{ webmention.author.photo }}{% else %}{{ '/img/webmention-avatar-default.svg' | url }}{% endif %}" title="{{ webmention.author.name }}" alt="" class="webmentions__face"/>
      {% endfor %}
      {% if mentions.length > 5 %}
        <span>+{{ mentions.length - 5 }}</span>
      {% endif %}
    </div>
    <ol class="webmentions__list">
      {% for webmention in mentions | reverse %}
        <li class="webmentions__item">
          <article class="webmention h-cite" id="webmention-{{ webmention['wm-id'] }}">
            <div class="webmention__meta">
              {% if webmention.author %}
                <a class="webmention__author p-author h-card u-url" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
                  {% if webmention.author.photo %}
                    <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}">
                    {% else %}
                      <img class="webmention__author__photo" src="{{ '/img/webmention-avatar-default.svg' | url }}" alt="">
                      {% endif %}
                      <strong class="p-name">{{ webmention.author.name }}</strong>
                    </a>
                  {% else %}
                    <span class="webmention__author">
                      <img class="webmention__author__photo" src="{{ '/img/webmention-avatar-default.svg' | url }}" alt="">
                        <strong>Anonymous</strong>
                      </span>
                    {% endif %}
                    {% if webmention.published %}
                      <time class="webmention__pubdate dt-published" datetime="{{ webmention.published }}">{{ webmention.published | dateFilter }}</time>
                    {% endif %}
                  </div>
                  <div class="webmention__content p-content">
                    {{ webmention.content.value | safe }}
                  </div>
                </article>
              </li>
            {% endfor %}
          </ol>
        {% else %}
          <p>No mentions yet.</p>
        {% endif %}
      </div>